<div
  class="faction-tile"
  [style.top]="faction.position.marginTop + 'px'"
  [style.left]="faction.position.marginLeft + 'px'"
  [style.backgroundColor]="faction.secondaryColor"
>
  <div class="title-container font-scifi" [style.color]="titleColor">
    <span class="title">{{ t.translateLS(faction.title).toLocaleUpperCase() }} </span>
  </div>
  <div class="content">
    @if (faction.hasScoreBoard) {
      <div class="scoreboard">
        @for (score of influenceScoreArray; track $index; let i = $index; let last = $last) {
          <div
            class="score-element"
            [class.first]="i === 0"
            [class.finale]="i > allianceTreshold"
            [class.last]="last"
            [style.backgroundColor]="i > allianceTreshold ? faction.primaryColor : ''"
          >
            @if (faction.influenceRewards && faction.influenceRewards[i]) {
              <div class="reward-area">
                @for (reward of faction.influenceRewards[i]; track $index) {
                  <div class="reward-container">
                    <img class="reward" [src]="reward.type | effectTypePath" />
                    @if (reward.amount) {
                      <div class="reward-amount">
                        {{ reward.amount }}
                      </div>
                    }
                  </div>
                }
              </div>
            }
          </div>
          @if (!last) {
            <div class="divider" [class.first]="i === 0" [class.finale]="i === allianceTreshold"></div>
          }
        }
        <div class="alliance-element" [style.background-image]="'url(' + faction.pathToSymbol + ')'"></div>
        @if (mode === 'game') {
          <div class="alliance-token-container">
            <dune-alliance-token
              [faction]="faction"
              [customColor]="playerColors[allianceTakenByPlayerId]"
            ></dune-alliance-token>
          </div>
          @for (playerScore of playerScores; track trackPlayerScore(playerScore); let i = $index) {
            <div
              class="score-marker"
              [class.hidden]="isExcluded(playerScore.playerId)"
              [style.bottom]="15 + playerScore.score * 48 + 'px'"
              [style.left]="35 - 5 * playerScores.length + (i * 160) / playerScores.length + 'px'"
              [style.background-color]="playerColors[playerScore.playerId]"
              (click)="onIncreaseFactionScoreClicked(playerScore.playerId)"
              (contextmenu)="onDecreaseFactionScoreClicked(playerScore.playerId)"
            ></div>
          }
        }
      </div>
    }
    <div
      class="action-area"
      [style.max-width]="faction.position.width + 'px'"
      [style.max-height]="faction.position.height + 'px'"
    >
      @for (actionField of faction.actionFields; track $index) {
        <app-dune-action [actionField]="actionField" [backgroundColor]="faction.primaryColor"></app-dune-action>
      }
    </div>
  </div>
  <div class="background-symbol" [style.background-image]="'url(' + faction.pathToSymbol + ')'"></div>
</div>
