<div
  class="faction-tile"
  [style.top]="faction.position.marginTop + 'px'"
  [style.left]="faction.position.marginLeft + 'px'"
  [style.backgroundColor]="faction.secondaryColor"
>
  <div class="title-container font-scifi" [style.color]="getTitleColor(faction.primaryColor)">
    <span class="title">{{ t.translateLS(faction.title).toLocaleUpperCase() }} </span>
  </div>
  <div class="content">
    <div *ngIf="faction.hasScoreBoard" class="scoreboard">
      <ng-container *ngFor="let score of favorScoreArray; let i = index; let last = last">
        <div
          class="score-element"
          [class.first]="i === 0"
          [class.finale]="i > favorScoreArray.length - 4"
          [class.last]="last"
          [style.backgroundColor]="i > favorScoreArray.length - 4 ? faction.primaryColor : ''"
        >
          <ng-container *ngIf="faction.influenceRewards && faction.influenceRewards[i]">
            <div class="reward-area">
              <ng-container *ngFor="let reward of faction.influenceRewards[i]">
                <div class="reward-container">
                  <img class="reward" [src]="getRewardTypePath(reward.type)" />
                  <ng-container *ngIf="reward.amount">
                    <div class="reward-amount">
                      {{ reward.amount }}
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div *ngIf="!last" class="divider" [class.first]="i === 0" [class.finale]="i === favorScoreArray.length - 4"></div>
      </ng-container>
      <div class="alliance-element" [style.background-image]="'url(' + faction.pathToSymbol + ')'"></div>
      <ng-container *ngIf="mode === 'game'">
        <div class="alliance-token-container">
          <dune-alliance-token
            [faction]="faction"
            [customColor]="getPlayerColor(allianceTakenByPlayerId)"
          ></dune-alliance-token>
        </div>
        <ng-container *ngFor="let playerScore of playerScores; let i = index; trackBy: trackPlayerScore">
          <div
            class="score-marker"
            [class.hidden]="isExcluded(playerScore.playerId)"
            [style.bottom]="15 + playerScore.score * 50 + 'px'"
            [style.left]="15 + i * 35 + 'px'"
            [style.background-color]="getPlayerColor(playerScore.playerId)"
          ></div>
        </ng-container>
      </ng-container>
    </div>
    <div
      class="action-area"
      [style.max-width]="faction.position.width + 'px'"
      [style.max-height]="faction.position.height + 'px'"
    >
      <ng-container *ngFor="let actionField of faction.actionFields">
        <app-dune-action [actionField]="actionField" [backgroundColor]="faction.primaryColor"></app-dune-action>
      </ng-container>
    </div>
  </div>
  <div class="background-symbol" [style.background-image]="'url(' + faction.pathToSymbol + ')'"></div>
</div>
