<div class="cards-area two">
  <div class="card-area large" *ngIf="mode === 'board' || unlimitedCard"></div>
  <div class="card-area large" *ngIf="mode === 'board' || shownLimitedCustomCard"></div>
</div>
<div
  class="spice-must-flow-container"
  *ngIf="mode === 'game' && unlimitedCard"
  (click)="setCardActive(unlimitedCard.name.en)"
>
  <dune-imperium-row-card
    [class]="
      (unlimitedCard.name.en === activeCardId ? 'active' : '') +
      (activePlayerTurnState !== 'reveal' ? ' desaturated' : '') +
      (activePlayerTurnState === 'reveal' &&
      unlimitedCard.persuasionCosts &&
      activePlayerPersuasion >= unlimitedCard.persuasionCosts
        ? ' buyable'
        : '')
    "
    [card]="unlimitedCard"
  ></dune-imperium-row-card>
  <div class="card-action-container" *ngIf="unlimitedCard.name.en === activeCardId">
    <button class="card-buy-button" mat-fab [color]="'accent'" (click)="onBuyAlwaysAvailableCardClicked(unlimitedCard)">
      <mat-icon>check</mat-icon>
    </button>
  </div>
</div>
<div
  class="liason-container"
  *ngIf="mode === 'game' && shownLimitedCustomCard"
  (click)="setCardActive(shownLimitedCustomCard.id)"
>
  <dune-imperium-row-card
    [class]="
      (shownLimitedCustomCard.id === activeCardId ? 'active' : '') +
      (activePlayerTurnState !== 'reveal' ? ' desaturated' : '') +
      (activePlayerTurnState === 'reveal' &&
      shownLimitedCustomCard.persuasionCosts &&
      activePlayerPersuasion >= shownLimitedCustomCard.persuasionCosts
        ? ' buyable'
        : '')
    "
    [card]="shownLimitedCustomCard"
    [costModifier]="getCardCostModifier(shownLimitedCustomCard)"
  ></dune-imperium-row-card>
  <div class="card-action-container" *ngIf="shownLimitedCustomCard.id === activeCardId">
    <button class="card-buy-button" mat-fab [color]="'accent'" (click)="onShowPreviousLimitedCustomCardClicked()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button
      class="card-buy-button"
      mat-fab
      [color]="'accent'"
      (click)="onBuyLimitedCustomCardClicked(shownLimitedCustomCard)"
    >
      <mat-icon>check</mat-icon>
    </button>
    <button class="card-buy-button" mat-fab [color]="'accent'" (click)="onShowNextLimitedCustomCardClicked()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
