<div [class]="'translation-container ' + (showLanguageSelection ? 'shown' : 'hidden')">
  <div class="control-bar">
    <button
      mat-fab
      [color]="'accent'"
      (click)="showLanguageSelection = !showLanguageSelection"
      [matTooltip]="t.translate('commonMenuLanguage')"
    >
      <mat-icon *ngIf="!showLanguageSelection">translate</mat-icon>
      <mat-icon *ngIf="showLanguageSelection">chevron_left</mat-icon>
    </button>
  </div>
  <div [class]="'language-container ' + (showLanguageSelection ? 'shown' : 'hidden')">
    <div
      [class]="'language-item ' + (settingsService.language === 'de' ? 'highlighted' : '')"
      (click)="onSelectLanguageClicked('de')"
    >
      DE
    </div>
    <div
      [class]="'language-item ' + (settingsService.language === 'en' ? 'highlighted' : '')"
      (click)="onSelectLanguageClicked('en')"
    >
      EN
    </div>
  </div>
</div>
