<div
  class="location-tile"
  [style.top]="location.position.marginTop + 'px'"
  [style.left]="location.position.marginLeft + 'px'"
>
  <app-dune-action
    [actionField]="location.actionField"
    [backgroundColor]="location.color"
    (actionFieldClick)="onActionFieldClicked($event)"
  ></app-dune-action>
  <ng-container *ngIf="location.ownerReward">
    <div class="location-owning-area">
      <div
        [class]="'location-owner-indicator' + (owner ? ' owned' : '')"
        [style.border-color]="owner ? owner.color : location.color"
        (click)="onOwnerIndicatorClicked()"
      >
        <span *ngIf="owner" class="location-owner-name">{{ leaderInitials }}</span>
      </div>
      <div class="location-owner-reward-area">
        <div class="location-owner-game-reward-area" [style.background-color]="location.color">
          <div class="location-owner-visitor-reward-container">
            <img class="location-owner-visitor-reward" [src]="getRewardTypePath(location.ownerReward.type)" />
            <div class="location-owner-visitor-reward-amount">
              {{ location.ownerReward.amount }}
            </div>
          </div>
        </div>
        <div class="location-owner-finale-reward-area">
          <img class="location-owner-victory-point-finale" [src]="getRewardTypePath('victory-point')" />
        </div>
        <div class="border-remover" [style.background-color]="location.color"></div>
      </div>
    </div>
    <ng-container *ngIf="canBuildupLocationChange">
      <button class="location-change-button" mat-fab [color]="'accent'" (click)="onBuildUpLocationChangeClicked()">
        <mat-icon>favorite_border</mat-icon>
        {{ locationChangeBuildupAmount }}
      </button>
    </ng-container>
  </ng-container>
</div>
