.imperium-row-container {
  width: 440px;
  height: calc(100% - 64px);
  padding: 32px;
  background: rgba(23, 19, 16, 0.8);
  color: white;
  border-radius: 5px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  padding-bottom: 150px;
  gap: 16px;
}

.imperium-rows-container {
  display: flex;
  justify-content: center;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 100px;
  align-items: center;
  width: 215px;
}

.card-container {
  position: relative;
}

dune-imperium-row-card,
dune-plot-card,
.imperium-deck-container {
  transition: 0.9s;
  transform: scale(0.75) translateY(-150px);
  max-height: 200px;
  cursor: url('/assets/images/cursors/pointer.png') 6 6, pointer;
  display: block;
  user-select: none;
  animation-name: card-row-anim;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

dune-imperium-row-card.desaturated,
dune-plot-card.desaturated {
  filter: saturate(0.75) brightness(0.75);
}

dune-imperium-row-card.leaving,
dune-plot-card.leaving {
  filter: drop-shadow(0px 0px 10px rgb(163, 49, 49));
}

dune-imperium-row-card.buyable,
dune-plot-card.buyable {
  filter: drop-shadow(0px 0px 10px rgb(141, 202, 255));
}

dune-imperium-row-card:hover,
dune-imperium-row-card.active,
dune-plot-card:hover,
dune-plot-card.active {
  filter: drop-shadow(0px 0px 15px rgb(255, 170, 73)) brightness(1.1);
  transform: scale(1.3) translateY(-150px);
  z-index: 3;
  position: relative;
}

.player-name {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  text-align: center;
}

.card-buy-button {
}

.card-remove-button {
}

.card-action-container {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
  z-index: 3;
}

.persuasion-area {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.resource-display {
  max-height: 70px;
  max-width: 70px;
  position: relative;
  color: white;
}

.resource {
  height: 70px;
  width: 70px;
  object-fit: scale-down;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.5));
}

.resource.small {
  margin-top: 5px;
  height: 45px;
  width: 45px;
}

.resource-amount {
  position: absolute;
  top: -2px;
  left: 0;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 1));
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.imperium-deck {
  height: 342px;
  width: 230px;
  border: 6px solid #101010;
  border-radius: 8px;
  position: relative;
  color: #fffcfa;
  background-image: url('/assets/images/card-backgrounds/backside.png');
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.66));
  transition: 0.7s;
  cursor: url('/assets/images/cursors/pointer.png') 6 6, pointer !important;
}

.imperium-deck:hover,
.imperium-deck.active {
  filter: drop-shadow(0px 0px 15px rgb(255, 170, 73)) brightness(1.1);
  transform: scale(1.2);
  z-index: 3;
}

.imperium-deck-action-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 3;
}

.imperium-card-backside {
  display: block;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.66));
  width: 190px;
  height: 274px;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  background-image: url('/assets/images/card-backgrounds/backside.png');
  animation-name: card-row-anim;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

@keyframes card-row-anim {
  0% {
    opacity: 0;
    filter: brightness(0) saturate(0.75) drop-shadow(0px 0px 10px rgb(170, 166, 255));
  }
  33% {
    opacity: 0.1;
    filter: brightness(0) saturate(0.75) drop-shadow(0px 0px 10px rgb(166, 166, 255));
  }
  66% {
    opacity: 0.25;
    filter: brightness(0.5) saturate(0.75) drop-shadow(0px 0px 5px rgb(55, 41, 180));
  }
  100% {
    opacity: 1;
    filter: brightness(0.75) saturate(0.75) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.66));
  }
}
