<div class="imperium-row-container">
  <div class="heading font-scifi">
    <div>{{ t.translate('imperiumrowHeading') }}</div>
    <div class="persuasion-area font-text" *ngIf="activePlayer">
      <div class="resource-display" [style]="'filter: saturate(0.25);'">
        <img class="resource small" [src]="getRewardTypePath('persuasion')" />
        <div class="resource-amount" *ngIf="activePlayer.permanentPersuasion > 0">
          <span>{{ activePlayer.permanentPersuasion }}</span>
        </div>
      </div>
      +
      <div class="resource-display">
        <img class="resource small" [src]="getRewardTypePath('persuasion')" />
        <div class="resource-amount" *ngIf="activePlayer.persuasionGainedThisRound > 0">
          <span>{{ activePlayer.persuasionGainedThisRound }}</span>
        </div>
      </div>
      =
      <div class="resource-display" [style]="'filter: saturate(1.25) brightness(1.25);'">
        <img class="resource" [src]="getRewardTypePath('persuasion')" />
        <div class="resource-amount" *ngIf="activePlayerPersuasion > 0">
          <span>{{ activePlayerPersuasion }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-container">
    <div
      [class]="'imperium-deck ' + (activeCardId === 'imperium-deck' ? 'active' : '')"
      (click)="setCardActive('imperium-deck')"
    >
      <div class="imperium-deck-action-container" *ngIf="activeCardId === 'imperium-deck'">
        <button class="card-buy-button" mat-fab [color]="'accent'" (click)="onSearchImperiumDeckClicked()">
          <mat-icon>search</mat-icon>
        </button>
        <button
          *ngIf="activePlayer?.turnState === 'reveal' && factionRecruitment.length > 0"
          class="card-buy-button"
          mat-fab
          [color]="'accent'"
          (click)="onRecruitFromImperiumRowClicked()"
        >
          <mat-icon>how_to_reg</mat-icon>
        </button>
      </div>
    </div>
    <div class="card-container" *ngFor="let card of imperiumRowCards" (click)="setCardActive(card.id)">
      @if (card.type === 'imperium-card') {
      <dune-imperium-row-card
        [class]="
          (card.id === activeCardId ? 'active ' : '') +
          (activePlayerTurnState !== 'reveal' ? 'desaturated ' : '') +
          (activePlayerTurnState === 'reveal' &&
          card.persuasionCosts &&
          activePlayerPersuasion >= card.persuasionCosts + getCardCostModifier(card)
            ? 'buyable '
            : '') +
          card.status
        "
        [card]="card"
        [costModifier]="getCardCostModifier(card)"
      ></dune-imperium-row-card>
      } @if (card.type === 'plot') {
      <dune-plot-card
        [class]="
          (card.id === activeCardId ? 'active ' : '') +
          (activePlayerTurnState !== 'reveal' ? 'desaturated ' : '') +
          (activePlayerTurnState === 'reveal' &&
          card.persuasionCosts &&
          activePlayerPersuasion >= card.persuasionCosts + getCardCostModifier(card)
            ? 'buyable '
            : '') +
          card.status
        "
        [plot]="card"
        [costModifier]="getCardCostModifier(card)"
      ></dune-plot-card>
      }
      <div class="card-action-container" *ngIf="card.id === activeCardId">
        <button class="card-buy-button" mat-fab [color]="'accent'" (click)="onBuyCardClicked(card)">
          <mat-icon>check</mat-icon>
        </button>
        <button class="card-remove-button" mat-fab [color]="'accent'" (click)="onRemoveCardClicked(card)">
          <mat-icon>delete</mat-icon>
        </button>
        <button
          *ngIf="playerCanCharm"
          class="card-remove-button"
          mat-fab
          [color]="'accent'"
          (click)="onCharmCardClicked(card)"
        >
          <mat-icon>face_retouching_natural</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
