<div [class]="'navigation-container ' + (showNavigationSelection ? 'shown' : 'hidden')">
  <div class="control-bar">
    <button
      mat-mini-fab
      [color]="'accent'"
      (click)="showNavigationSelection = !showNavigationSelection"
      [matTooltip]="t.translate('commonMenuNavigation')"
    >
      <mat-icon *ngIf="!showNavigationSelection">menu</mat-icon>
      <mat-icon *ngIf="showNavigationSelection">chevron_left</mat-icon>
    </button>
  </div>
  <div [class]="'navigation-item-container ' + (showNavigationSelection ? 'shown' : 'hidden')">
    <div [class]="'navigation-item ' + (url.includes('game-board') ? 'highlighted' : '')" [routerLink]="'game-board'">
      {{ t.translate('commonNavigationGameBoard') }}
    </div>
    <div
      [class]="'navigation-item ' + (url.includes('starting-card-configurator') ? 'highlighted' : '')"
      [routerLink]="'starting-card-configurator'"
    >
      {{ t.translate('commonNavigationStartingCards') }}
    </div>
    <div
      [class]="'navigation-item ' + (url.includes('imperium-card-configurator') ? 'highlighted' : '')"
      [routerLink]="'imperium-card-configurator'"
    >
      {{ t.translate('commonNavigationImperiumCards') }}
    </div>
    <div
      [class]="'navigation-item ' + (url.includes('plot-configurator') ? 'highlighted' : '')"
      [routerLink]="'plot-configurator'"
    >
      {{ t.translate('commonNavigationPlots') }}
    </div>
    <div
      [class]="'navigation-item ' + (url.includes('tech-tile-configurator') ? 'highlighted' : '')"
      [routerLink]="'tech-tile-configurator'"
    >
      {{ t.translate('commonNavigationTechTiles') }}
    </div>
    <div
      [class]="'navigation-item ' + (url.includes('leader-configurator') ? 'highlighted' : '')"
      [routerLink]="'leader-configurator'"
    >
      {{ t.translate('commonNavigationLeaders') }}
    </div>
    <div
      [class]="'navigation-item ' + (url.includes('intrigue-configurator') ? 'highlighted' : '')"
      [routerLink]="'intrigue-configurator'"
    >
      {{ t.translate('commonNavigationIntrigues') }}
    </div>
    <div
      [class]="'navigation-item ' + (url.includes('event-configurator') ? 'highlighted' : '')"
      [routerLink]="'event-configurator'"
    >
      {{ t.translate('commonNavigationEvents') }}
    </div>
    <div [class]="'navigation-item ' + (url.includes('about') ? 'highlighted' : '')" [routerLink]="'about'">
      {{ t.translate('commonNavigationAbout') }}
    </div>
  </div>
</div>
