<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content class="dialog-content">
  <div *ngIf="data.search">
    <mat-form-field>
      <mat-label>{{ t.translate('imperiumcardspreviewSearchTooltip') }}</mat-label>
      <input matInput [(ngModel)]="searchString" (input)="filterCards()" />
    </mat-form-field>
  </div>
  <div class="cards-container">
    <div class="card-container" *ngFor="let card of imperiumCards">
      <dune-imperium-row-card [card]="card"> </dune-imperium-row-card>
      <div
        class="card-action-container"
        *ngIf="
          data.canAquireCards && (!data.aquirableFactionTypes || data.aquirableFactionTypes.includes(card.faction ?? ''))
        "
      >
        <button class="card-buy-button" mat-fab [color]="'accent'" (click)="onBuyCardClicked(card)">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">{{ t.translate('commonCancel') }}</button>
</div>
