<form [formGroup]="imperiumCardForm">
  <div [class]="'form-group' + (editMode ? ' padding-top' : '')" formGroupName="name">
    <mat-form-field class="medium-text-field flex">
      <mat-label>Name (English)</mat-label>
      <input matInput formControlName="en" />
    </mat-form-field>
    <mat-form-field class="medium-text-field flex">
      <mat-label>Name (German)</mat-label>
      <input matInput formControlName="de" />
    </mat-form-field>
  </div>

  <!-- Faction -->
  <mat-form-field class="small-text-field">
    <mat-label>Faction</mat-label>
    <mat-select formControlName="faction">
      <mat-select-trigger>
        <div class="reward-container">
          <img class="reward" [src]="getFactionTypePath(getFaction().value)" />
          <span class="reward-label">{{ getFaction().value }}</span>
        </div>
      </mat-select-trigger>
      <mat-option *ngFor="let faction of factions" [value]="faction"
        ><div class="reward-container">
          <img class="reward" [src]="getFactionTypePath(faction)" />
          <span class="reward-label">{{ faction }}</span>
        </div></mat-option
      >
    </mat-select>
  </mat-form-field>

  <!-- Persuasion Costs -->
  <mat-form-field class="small-text-field">
    <mat-label>Persuasion Costs</mat-label>
    <input matInput formControlName="persuasionCosts" type="number" />
  </mat-form-field>

  <!-- Field Access -->
  <mat-form-field class="medium-text-field flex">
    <mat-label>Board Space Access</mat-label>
    <mat-select formControlName="fieldAccess" multiple>
      <mat-option *ngFor="let actionType of actionTypes; let i = index" [value]="actionType">
        {{ actionType }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Infiltration -->
  <mat-form-field class="small-text-field">
    <mat-label>Can Infiltrate</mat-label>
    <mat-select formControlName="canInfiltrate">
      <mat-option [value]="false"> {{ t.translate('commonNo') }} </mat-option>
      <mat-option [value]="true"> {{ t.translate('commonYes') }} </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Rarity -->
  <mat-form-field class="small-text-field">
    <mat-label>Rarity</mat-label>
    <mat-select formControlName="rarity">
      <mat-option [value]="'normal'"> Normal </mat-option>
      <mat-option [value]="'rare'"> Rare </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Image -->
  <mat-form-field class="larger-text-field flex">
    <mat-label>Image URL</mat-label>
    <input matInput formControlName="imageUrl" />
  </mat-form-field>

  <!-- Card Amount -->
  <mat-form-field class="small-text-field">
    <mat-label>Card Amount</mat-label>
    <input matInput type="number" formControlName="cardAmount" />
  </mat-form-field>

  <!-- Buy Effects -->
  <div class="card-effect-container margin-top">
    <div class="title-container">
      <span class="card-effect-title"> Buy Effects </span>
    </div>
    <div formArrayName="buyEffects">
      <div class="form-group wrap" *ngFor="let buyEffect of buyEffects.controls; let i = index">
        <mat-form-field class="big-text-field flex">
          <mat-label>Effect Type</mat-label>
          <mat-select [formControl]="getBuyEffectTypeControl(i)">
            <mat-select-trigger>
              <div class="reward-container">
                <img class="reward" [src]="getEffectTypePath(getBuyEffectTypeControl(i).value)" />
                <span class="reward-label">{{ getBuyEffectTypeControl(i).value }}</span>
              </div>
            </mat-select-trigger>
            <mat-option *ngFor="let rewardType of rewardTypes" [value]="rewardType">
              <div class="reward-container">
                <img class="reward" [src]="getEffectTypePath(rewardType)" />
                <span class="reward-label">{{ rewardType }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="small-text-field">
          <mat-label>Amount</mat-label>
          <input matInput [formControl]="getBuyEffectAmountControl(i)" type="number" />
        </mat-form-field>
        <button mat-mini-fab [color]="'accent'" (click)="onRemoveBuyEffectClicked(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button mat-mini-fab [color]="'accent'" (click)="onAddBuyEffectClicked()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <!-- Agent Effects -->
  <div class="card-effect-container margin-top">
    <div class="title-container">
      <span class="card-effect-title"> Agent Effects </span>
    </div>
    <div formArrayName="agentEffects">
      <div class="form-group wrap" *ngFor="let agentEffect of agentEffects.controls; let i = index">
        <mat-form-field class="big-text-field">
          <mat-label>Effect Type</mat-label>
          <mat-select [formControl]="getAgentEffectTypeControl(i)">
            <mat-select-trigger>
              <div class="reward-container">
                <img class="reward" [src]="getEffectTypePath(getAgentEffectTypeControl(i).value)" />
                <span class="reward-label">{{ getAgentEffectTypeControl(i).value }}</span>
              </div>
            </mat-select-trigger>
            <mat-option *ngFor="let effectType of effectTypes" [value]="effectType"
              ><div class="reward-container">
                <img class="reward" [src]="getEffectTypePath(effectType)" />
                <span class="reward-label">{{ effectType }}</span>
              </div></mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="small-text-field">
          <mat-label>Amount</mat-label>
          <input matInput [formControl]="getAgentEffectAmountControl(i)" type="number" />
        </mat-form-field>
        <mat-form-field class="small-text-field">
          <mat-label>Faction</mat-label>
          <mat-select [formControl]="getAgentEffectFactionControl(i)">
            <mat-select-trigger>
              <div class="reward-container">
                <img class="reward" [src]="getFactionTypePath(getAgentEffectFactionControl(i).value)" />
                <span class="reward-label">{{ getAgentEffectFactionControl(i).value }}</span>
              </div>
            </mat-select-trigger>
            <mat-option *ngFor="let faction of factions" [value]="faction"
              ><div class="reward-container">
                <img class="reward" [src]="getFactionTypePath(faction)" />
                <span class="reward-label">{{ faction }}</span>
              </div></mat-option
            >
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab [color]="'accent'" (click)="onRemoveAgentEffectClicked(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button mat-mini-fab [color]="'accent'" (click)="onAddAgentEffectClicked()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-form-field class="margin-top">
      <mat-label>Agent Effect Size</mat-label>
      <mat-select formControlName="agentEffectSize">
        <mat-option *ngFor="let fontSize of fontSizes" [value]="fontSize">{{ fontSize }}</mat-option>
      </mat-select> </mat-form-field
    ><br /><br />
    <div class="text-container">
      Custom Agent Effect Text
      <mat-icon
        [style]="'margin-left: 4px'"
        matTooltip="Custom text where you can use icons with the syntax {resource:troops} or {faction:bene} f.e.."
        >info</mat-icon
      >
    </div>
    <br />
    <div class="form-group wrap" formGroupName="customAgentEffect">
      <mat-form-field class="large-text-field flex">
        <mat-label>English</mat-label>
        <input matInput formControlName="en" />
      </mat-form-field>
      <mat-form-field class="large-text-field flex">
        <mat-label>German</mat-label>
        <input matInput formControlName="de" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Font Size</mat-label>
        <mat-select formControlName="fontSize">
          <mat-option *ngFor="let fontSize of fontSizes" [value]="fontSize">{{ fontSize }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- Reveal Effects -->
  <div class="card-effect-container margin-top">
    <div class="title-container">
      <span class="card-effect-title"> Reveal Effects </span>
    </div>
    <div formArrayName="revealEffects">
      <div class="form-group wrap" *ngFor="let revealEffect of revealEffects.controls; let i = index">
        <mat-form-field class="big-text-field">
          <mat-label>Effect Type</mat-label>
          <mat-select [formControl]="getRevealEffectTypeControl(i)">
            <mat-select-trigger>
              <div class="reward-container">
                <img class="reward" [src]="getEffectTypePath(getRevealEffectTypeControl(i).value)" />
                <span class="reward-label">{{ getRevealEffectTypeControl(i).value }}</span>
              </div>
            </mat-select-trigger>
            <mat-option *ngFor="let effectType of effectTypes" [value]="effectType"
              ><div class="reward-container">
                <img class="reward" [src]="getEffectTypePath(effectType)" />
                <span class="reward-label">{{ effectType }}</span>
              </div></mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="small-text-field">
          <mat-label>Amount</mat-label>
          <input matInput [formControl]="getRevealEffectAmountControl(i)" type="number" />
        </mat-form-field>
        <mat-form-field class="small-text-field">
          <mat-label>Faction</mat-label>
          <mat-select [formControl]="getRevealEffectFactionControl(i)">
            <mat-select-trigger>
              <div class="reward-container">
                <img class="reward" [src]="getFactionTypePath(getRevealEffectFactionControl(i).value)" />
                <span class="reward-label">{{ getRevealEffectFactionControl(i).value }}</span>
              </div>
            </mat-select-trigger>
            <mat-option *ngFor="let faction of factions" [value]="faction"
              ><div class="reward-container">
                <img class="reward" [src]="getFactionTypePath(faction)" />
                <span class="reward-label">{{ faction }}</span>
              </div></mat-option
            >
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab [color]="'accent'" (click)="onRemoveRevealEffectClicked(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button mat-mini-fab [color]="'accent'" (click)="onAddRevealEffectClicked()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-form-field class="margin-top">
      <mat-label>Reveal Effect Size</mat-label>
      <mat-select formControlName="revealEffectSize">
        <mat-option *ngFor="let fontSize of fontSizes" [value]="fontSize">{{ fontSize }}</mat-option>
      </mat-select> </mat-form-field
    ><br /><br />
    <div class="text-container">
      Custom Reveal Effect Text
      <mat-icon
        [style]="'margin-left: 4px'"
        matTooltip="Custom text where you can use icons with the syntax {resource:troops} or {faction:bene} f.e.."
        >info</mat-icon
      >
    </div>
    <br />
    <div class="form-group wrap" formGroupName="customRevealEffect">
      <mat-form-field class="large-text-field flex">
        <mat-label>English</mat-label>
        <input matInput formControlName="en" />
      </mat-form-field>
      <mat-form-field class="large-text-field flex">
        <mat-label>German</mat-label>
        <input matInput formControlName="de" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Font Size</mat-label>
        <mat-select formControlName="fontSize">
          <mat-option *ngFor="let fontSize of fontSizes" [value]="fontSize">{{ fontSize }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>
