<div
  [class]="'intrigue-card background clickable' + (intrigueStackIsActive ? ' active' : '')"
  (click)="onSetIntrigueStackActiveClicked()"
>
  <div class="intrigue-action-container" *ngIf="intrigueStackIsActive">
    <button mat-fab [color]="'accent'" (click)="onDrawIntrigueClicked()" matTooltip="Draw">
      <mat-icon>done</mat-icon>
    </button>
    <button mat-fab [color]="'accent'" (click)="onSearchIntriguesClicked()" matTooltip="Search">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-fab [color]="'accent'" (click)="onShowNextIntrigueClicked()" matTooltip="Show top card">
      <mat-icon>visibility</mat-icon>
    </button>
  </div>
</div>
