.turn-infos-container {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  pointer-events: none;
}

.turn-infos-container > * {
  pointer-events: auto;
}

.turn-info-container {
  background-color: #45382f;
  padding: 24px;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 15px rgb(255, 170, 73));
  z-index: 3;
}

.turn-info-title {
  margin-bottom: 24px;
  text-align: center;
  font-size: large;
  display: flex;
  gap: 6px;
  justify-content: space-between;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.agent-placement-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.reward {
  height: 48px;
}

.card-container {
  height: 274px;
  width: 189px;
  position: relative;
}

dune-imperium-row-card.small {
  display: block;
  transform: scale(0.75);
  position: absolute;
  top: -45px;
  left: -30px;
}

.intrigue-card-container {
  height: 192px;
  width: 128px;
  position: relative;
}

dune-intrigue-card {
  display: block;
  transform: scale(0.75);
  position: absolute;
  top: -30px;
  left: -20px;
}

.spacer {
  min-width: 35px;
  text-align: end;
  font-size: large;
  transform: scale(1.5);
  transition: 0.5s;
}

.spacer:hover {
  transform: scale(1.75);
  cursor:
    url('/assets/images/cursors/pointer.png') 6 6,
    pointer;
}
