.conflict-card {
    border-radius: 10px;
    background-size: 1000px;
    height: 255px;
    width: 170px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.66));
    border: 0px solid #2d0505;
    border-right: 2px solid #2d0505;
    border-top: 2px solid #2d0505;
}