<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content class="cards-container">
  <div
    class="card-container"
    *ngFor="let conflict of data.conflicts"
    [class.selectable]="isSelectMode"
    [class.selected]="isSelected(conflict)"
    (click)="onConflictClick(conflict)"
    (mouseenter)="hoveredCardId = conflict.id"
    (mouseleave)="hoveredCardId = ''"
  >
    <dune-highlighting
      *ngIf="conflict.id === selectedConflict?.name?.en || conflict.id === hoveredCardId"
      [id]="conflict.id"
      [width]="220"
      [height]="300"
      [bottom]="-20"
      [left]="-25"
    ></dune-highlighting>
    <dune-conflict-card [conflict]="conflict"> </dune-conflict-card>
  </div>
</div>
<div mat-dialog-actions>
  @if (isSelectMode) {
    <button
      mat-mini-fab
      [color]="'accent'"
      [disabled]="!selectedConflict"
      (click)="onConfirm()"
      [matTooltip]="t.translate('commonConfirm')"
    >
      <mat-icon>check</mat-icon>
    </button>
  } @else {
    <button mat-mini-fab [color]="'accent'" (click)="onClose()" [matTooltip]="t.translate('commonCancel')">
      <mat-icon>close</mat-icon>
    </button>
  }
</div>
