<div class="scoreboard-tile top">
  @for (score of scoreArray; track $index; let i = $index; let last = $last) {
    <div
      class="score-element light"
      [class.finale-low]="finaleTriggerLow && score.amount > finaleTriggerLow"
      [class.finale-medium]="finaleTriggerMedium && score.amount > finaleTriggerMedium"
      [class.finale-high]="finaleTriggerHigh && score.amount > finaleTriggerHigh"
    >
      <div class="score">{{ score.amount }}</div>
      @if (victoryPointBoni && score.reward) {
        <div class="reward-container">
          <img class="reward" [src]="score.reward.type | effectTypePath" />
          @if (score.reward.amount) {
            <div class="reward-amount">
              {{ score.reward.amount }}
            </div>
          }
        </div>
      }
      @if (mode === 'game') {
        <div class="player-score-container" [style.width]="playerVictoryPoints.length < 5 ? '66%' : '90%'">
          @for (playerScore of playerVictoryPoints; track trackPlayerScore(playerScore); let id = $index) {
            @if (playerScore.amount === score.amount) {
              <div
                class="score-marker"
                [style.background-color]="playerColors[playerScore.playerId]"
                (click)="onIncreaseFactionScoreClicked(playerScore.playerId, playerScore.amount)"
                (contextmenu)="onDecreaseFactionScoreClicked(playerScore.playerId, playerScore.amount)"
              ></div>
            }
          }
        </div>
      }
    </div>
    @if (!last) {
      <div
        class="divider light"
        [class.finale-low]="finaleTriggerLow && score.amount === finaleTriggerLow"
        [class.finale-medium]="finaleTriggerMedium && score.amount === finaleTriggerMedium"
        [class.finale-high]="finaleTriggerHigh && score.amount === finaleTriggerHigh"
      ></div>
    }
  }
</div>
