<div class="scoreboard-tile top">
  @for (score of scoreArray; track $index; let i = $index; let last = $last) {
    <div
      class="score-element light"
      [class.finale-four-players]="score.amount > finaleTrigger - 1"
      [class.finale-three-players]="score.amount > finaleTrigger"
    >
      <div class="score">{{ score.amount }}</div>
      @if (victoryPointBoni && score.reward) {
        <div class="reward-container">
          <img class="reward" [src]="score.reward.type | effectTypePath" />
          @if (score.reward.amount) {
            <div class="reward-amount">
              {{ score.reward.amount }}
            </div>
          }
        </div>
      }
    </div>
    @if (!last) {
      <div
        class="divider light"
        [class.finale-four-players]="score.amount === finaleTrigger - 1"
        [class.finale-three-players]="score.amount === finaleTrigger"
      ></div>
    }
  }
  @if (mode === 'game') {
    @for (playerScore of playerVictoryPoints; track trackPlayerScore(playerScore); let i = $index) {
      <div
        class="score-marker"
        [style.left]="(i < 2 ? 10 : 90) + playerScore.amount * 163 + 'px'"
        [style.top]="10 + (i % 2 === 0 ? 0 : 40) + 'px'"
        [style.background-color]="playerColors[playerScore.playerId]"
        (click)="onIncreaseFactionScoreClicked(playerScore.playerId)"
        (contextmenu)="onDecreaseFactionScoreClicked(playerScore.playerId)"
      ></div>
    }
  }
</div>
