<div class="player-board-container">
  <div class="heading">
    <div *ngIf="gameManager.currentTurn == 0">spieler</div>
    <div *ngIf="gameManager.currentTurn == 0">
      <button
        mat-mini-fab
        [color]="'accent'"
        (click)="onRemovePlayerClicked()"
        [disabled]="playerManager.players.length === 0 || gameManager.currentTurn !== 0"
        [style]="'margin-right: 6px'"
      >
        <mat-icon>remove</mat-icon>
      </button>
      <button
        mat-mini-fab
        [color]="'accent'"
        (click)="onAddPlayerClicked()"
        [disabled]="playerManager.players.length === playerManager.maxPlayers || gameManager.currentTurn !== 0"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div *ngIf="currentTurn" class="turn-area">
      <div *ngIf="currentTurn">runde {{ currentTurn }}</div>
      <div>{{ turnState }}</div>
    </div>
  </div>
  <div class="player-container" *ngFor="let player of players">
    <div class="player-heading">
      <div *ngIf="gameManager.startingPlayerId === player.id" class="starting-player-marker"></div>
      <div *ngIf="player.hasCouncilSeat" class="council-seat-marker" [style.background-color]="player.color"></div>
      <div
        class="player-name {{ player.id === gameManager.activeAgentPlacementPlayerId ? 'highlighted' : '' }}"
        [style.color]="player.color"
      >
        {{ getPlayerLeaderName(player.id).toLocaleLowerCase() }}
      </div>
    </div>
    <div class="player-heading">
      <ng-container *ngFor="let object of getArrayFromNumber(player.agents + 1); let i = index">
        <div
          class="agent-marker"
          [class.greyed-out]="getAvailablePlayerAgents(player.id) < i + 1"
          [style.background-color]="player.color"
        ></div>
      </ng-container>
      <mat-slide-toggle
        [color]="'accent'"
        [checked]="player.isAI"
        (change)="onSetAIActiveClicked(player.id, $event)"
        [disabled]="currentTurn > 0"
        >AI</mat-slide-toggle
      >
    </div>

    <!-- <div class="ai-container">
        <button mat-raised-button color="accent" (click)="onSetCurrentAIPlayerClicked(player.id)">show</button>
      </div> -->

    <div class="resource-area">
      <div class="resource-container" *ngFor="let resource of player.resources">
        <div class="resource-display">
          <img class="resource" [src]="getRewardTypePath(resource.type)" />
          <div class="resource-amount">
            <span>{{ resource.amount }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="action-container">
    <button
      *ngIf="!currentTurn"
      mat-raised-button
      color="accent"
      (click)="onStartGameClicked()"
      [disabled]="players.length < 2"
    >
      spiel beginnen
    </button>
    <button
      *ngIf="(currentTurn && turnState === 'agent-placement') || turnState === 'combat'"
      mat-raised-button
      color="accent"
      (click)="onNextPlayerClicked()"
    >
      Zug beenden
    </button>
    <button
      *ngIf="currentTurn && turnState === 'agent-placement'"
      mat-raised-button
      color="accent"
      (click)="onBeginCombatClicked()"
    >
      Kampf
    </button>
    <button
      *ngIf="currentTurn && turnState !== 'agent-placement'"
      mat-raised-button
      color="accent"
      (click)="onNextTurnClicked()"
    >
      nächste runde
    </button>
    <button *ngIf="currentTurn" mat-raised-button color="accent" (click)="onFinishGameClicked()">Ende</button>
  </div>
</div>
