<div class="player-board-container">
  <div class="heading">
    @if (gameManager.currentRound === 0) {
      <div class="turn-area">
        <div class="title font-scifi">DUNE: IMPERIUM</div>
        <div class="subtitle font-medieval">{{ subTitle.toUpperCase() }}</div>
      </div>
    } @else {
      <div class="turn-area">
        <div class="font-scifi" *ngIf="currentRound">
          {{ t.translate('playerboardRound') }} <span class="turn">{{ currentRound }}</span>
        </div>
        <div *ngIf="isFinale" class="endgame font-medieval">{{ t.translate('commonEndgame').toUpperCase() }}</div>
        <div class="turn-state font-medieval">{{ currentRoundPhase.toUpperCase() }}</div>
      </div>
    }
  </div>
  <div class="action-container">
    <button
      *ngIf="!currentRound"
      mat-fab
      color="accent"
      (click)="showSettingsDialog()"
      [matTooltip]="t.translate('playerboardSettingsTooltip')"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <button
      mat-fab
      *ngIf="currentRound && currentRoundPhase === 'agent-placement'"
      color="accent"
      (click)="onBeginCombatClicked()"
      [matTooltip]="t.translate('playerboardCombatTooltip')"
      [disabled]="!canSwitchToCombatPhase"
    >
      <mat-icon>flash_on</mat-icon>
    </button>
    <button
      *ngIf="currentRound && currentRoundPhase === 'combat'"
      mat-fab
      color="accent"
      (click)="onResolveCombatClicked()"
      [matTooltip]="t.translate('playerboardResolveCombatTooltip')"
    >
      <mat-icon>groups</mat-icon>
    </button>
    <button
      *ngIf="currentRound && currentRoundPhase === 'combat-resolvement' && !isFinale"
      mat-fab
      color="accent"
      (click)="onNextRoundClicked()"
      [matTooltip]="t.translate('playerboardNextRoundTooltip')"
    >
      <mat-icon>start</mat-icon>
    </button>
    <button
      *ngIf="!currentRound"
      mat-fab
      color="accent"
      (click)="onStartGameClicked()"
      [disabled]="players.length < 2"
      [matTooltip]="t.translate('playerboardBeginGameTooltip')"
    >
      <mat-icon>play_arrow</mat-icon>
    </button>
    @if (currentRound === 1 && currentRoundPhase === 'select leaders') {
      <button
        mat-fab
        color="accent"
        (click)="onBeginPlayClicked()"
        [disabled]="!allLeadersLockedIn"
        [matTooltip]="t.translate('playerboardBeginGameTooltip')"
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
    }
    <button
      *ngIf="currentRound && (currentRoundPhase !== 'combat-resolvement' || !isFinale)"
      mat-fab
      color="accent"
      (click)="onFinishGameClicked()"
      [matTooltip]="t.translate('playerboardFinishGameTooltip')"
    >
      <mat-icon>power_settings_new</mat-icon>
    </button>
    <button
      *ngIf="currentRound && currentRoundPhase === 'combat-resolvement' && isFinale"
      mat-fab
      color="accent"
      (click)="onShowGameSummaryClicked()"
      [matTooltip]="t.translate('playerboardFinishGameTooltip')"
    >
      <mat-icon>emoji_events</mat-icon>
    </button>
  </div>
  @if (currentRound === 0) {
    <div class="players-control-bar">
      <div class="font-scifi">
        {{ t.translate('playerboardHeading') }}
      </div>
      <div>
        <button
          mat-mini-fab
          [color]="'accent'"
          (click)="onRemovePlayerClicked()"
          [disabled]="players.length === 0"
          [style]="'margin-right: 6px'"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-mini-fab [color]="'accent'" (click)="onAddPlayerClicked()" [disabled]="players.length === maxPlayers">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  }
  <div class="players-container">
    @for (player of players; track $index) {
      <dune-player-overview [player]="player"></dune-player-overview>
    }
  </div>
</div>
