<h1 mat-dialog-title [class]="data.colorScheme">{{ data.title }}</h1>
<div mat-dialog-content class="dialog-content">
  <div class="cards-container">
    <div
      class="card-container"
      *ngFor="let techTile of techTiles"
      [class.selectable]="isSelectMode"
      [class.selected]="isSelected(techTile)"
      (click)="onCardClick(techTile)"
      (mouseenter)="hoveredBoardSpaceId = techTile.id"
      (mouseleave)="hoveredBoardSpaceId = ''"
    >
      <dune-highlighting
        *ngIf="techTile.id === selectedCard?.id"
        [id]="techTile.id"
        [width]="220"
        [height]="300"
        [bottom]="-20"
        [left]="-25"
      ></dune-highlighting>
      <dune-tech-tile [card]="techTile"></dune-tech-tile>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  @if (isSelectMode) {
    <button
      mat-mini-fab
      [color]="'accent'"
      [disabled]="!selectedCard"
      (click)="onConfirm()"
      [matTooltip]="t.translate('commonConfirm')"
    >
      <mat-icon>check</mat-icon>
    </button>
  } @else {
    <button mat-mini-fab [color]="'accent'" (click)="onClose()" [matTooltip]="t.translate('commonCancel')">
      <mat-icon>close</mat-icon>
    </button>
  }
</div>
