<div class="leader-card" [style.background-image]="'url(' + leader.imageUrl + ')'">
  <div class="leader-frame">
    <div class="leader-header">
      <div class="leader-title font-scifi">
        {{ t.translateLS(leader.name) }}
      </div>
      <div class="underline"></div>
      <div class="leader-house font-medieval">{{ t.translateLS(leader.house).toUpperCase() }}</div>
    </div>
    <div class="leader-passive-container">
      <div class="leader-passive-name font-scifi">
        {{ t.translateLS(leader.passiveName) }}
      </div>
      <div class="leader-signet-description-container font-text">
        <div class="leader-passive-description" [innerHTML]="t.translateLS(leader.passiveDescription) | duneSymbols"></div>
      </div>
    </div>
    <div class="leader-signet-container">
      <div class="leader-signet-name font-scifi">
        <!-- <img class="signet-ring" src="/assets/images/reward-markers/marker_signet_ring.png" /> -->
        {{ t.translateLS(leader.signetName) }}
      </div>
      <div class="leader-signet-description-container font-text">
        <div class="leader-signet-description" [innerHTML]="t.translateLS(leader.signetDescription) | duneSymbols"></div>
      </div>
    </div>
    <!-- <div class="deck-indicator">{{ t.translateLS(deckName) }}</div>
    <div class="discard-indicator">{{ t.translateLS(discardName) }}</div> -->
  </div>
</div>
