<h1 mat-dialog-title>{{ dialogTitle }}</h1>
<div mat-dialog-content>
  <div class="setting-container">
    <div>Game Content</div>
    <div class="options-container">
      <mat-checkbox [checked]="gameContentName === 'Original'" (click)="onSetGameContentClicked('Original')"
        >Original</mat-checkbox
      >
      <mat-checkbox [checked]="gameContentName === 'New Beginnings'" (click)="onSetGameContentClicked('New Beginnings')"
        >New Beginnings</mat-checkbox
      >
      <mat-checkbox [checked]="gameContentName === 'Sands of Arrakis'" (click)="onSetGameContentClicked('Sands of Arrakis')"
        >Sands of Arrakis</mat-checkbox
      >
      <div [matTooltip]="!hasCustomGameContent ? 'You need to import a custom Game Content before you can select this' : ''">
        <mat-checkbox
          [disabled]="!hasCustomGameContent"
          [checked]="gameContentName === 'custom'"
          (click)="onSetGameContentClicked('custom')"
          >Custom</mat-checkbox
        >
      </div>
    </div>
    <div class="options-container">
      <button
        mat-mini-fab
        [color]="'accent'"
        (click)="onExportContentClicked()"
        matTooltip="Export Currently Selected Gamecontent"
      >
        <mat-icon>download</mat-icon>
      </button>
      <button mat-mini-fab [color]="'accent'" (click)="filePicker.click()" matTooltip="Import Custom Gamecontent">
        <mat-icon>folder_open</mat-icon>
      </button>
      <input #filePicker [hidden]="true" [type]="'file'" [accept]="'.json'" (change)="onImportContentClicked(filePicker)" />
    </div>
    <div class="options-container"></div>
  </div>
  <div class="setting-container">
    <div>App Mode</div>
    <div class="options-container">
      <mat-checkbox [checked]="appMode === 'board'" (click)="setGameMode('board')">Board</mat-checkbox>
      <mat-checkbox [checked]="appMode === 'game'" (click)="setGameMode('game')">Game</mat-checkbox>
    </div>
  </div>
  <div class="setting-container">
    <div>AI Difficulty</div>
    <div class="options-container">
      <mat-checkbox [checked]="aiDifficulty === 'easy'" (click)="setAIDifficulty('easy')">Easy</mat-checkbox>
      <mat-checkbox [checked]="aiDifficulty === 'medium'" (click)="setAIDifficulty('medium')">Medium</mat-checkbox>
      <mat-checkbox [checked]="aiDifficulty === 'hard'" (click)="setAIDifficulty('hard')">Hard</mat-checkbox>
    </div>
  </div>
  <div class="setting-container">
    <div>Events</div>
    <div class="options-container">
      <mat-checkbox [checked]="eventsEnabled === false" (click)="enableEvents(false)">False</mat-checkbox>
      <mat-checkbox [checked]="eventsEnabled === true" (click)="enableEvents(true)">True</mat-checkbox>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Close</button>
</div>
