<div class="imperium-card">
  <div class="card-header font-scifi">
    {{ translateService.translate(card.name) }}
  </div>
  <div class="card-img" [style.background-image]="'url(' + card.imageUrl + ')'">
    <div
      class="faction-container font-medieval"
      *ngIf="card.faction"
      [style.background]="'linear-gradient(90deg, ' + getFactionColor(card.faction) + ', rgb(90 90 90 / 50%))'"
    >
      {{ getFactionName(card.faction).toUpperCase() }}
    </div>
    <div class="field-access-container">
      <ng-container *ngFor="let access of card.fieldAccess">
        <div class="field-access">
          <img class="field-access-image" [src]="getActionTypePath(access)" />
        </div>
      </ng-container>
    </div>
  </div>
  <div
    class="card-agent-effect-container font-text"
    *ngIf="card.customAgentEffect || (card.agentEffects && card.agentEffects.length > 0)"
  >
    <div class="card-agent-effect-custom" *ngIf="card.customAgentEffect">
      <div
        *ngIf="!card.customAgentEffect.fontSize || card.customAgentEffect.fontSize == 'small'"
        class="card-reveal-effect-custom-text"
        [innerHTML]="translateService.translate(card.customAgentEffect) | duneSymbols"
      ></div>
      <div
        *ngIf="card.customAgentEffect.fontSize === 'medium'"
        class="card-reveal-effect-custom-text medium"
        [innerHTML]="translateService.translate(card.customAgentEffect) | duneSymbols : '20px'"
      ></div>
    </div>
    <dune-reward-array *ngIf="card.agentEffects" [rewards]="card.agentEffects"></dune-reward-array>
  </div>
  <div
    class="card-agent-effect-separator"
    *ngIf="!card.customAgentEffect && (!card.agentEffects || card.agentEffects.length === 0)"
  ></div>
  <div class="card-reveal-effect-container font-text">
    <div class="card-reveal-effect-custom" *ngIf="card.customRevealEffect">
      <div
        *ngIf="!card.customRevealEffect.fontSize || card.customRevealEffect.fontSize == 'small'"
        class="card-reveal-effect-custom-text"
        [innerHTML]="translateService.translate(card.customRevealEffect) | duneSymbols"
      ></div>
      <div
        *ngIf="card.customRevealEffect.fontSize === 'medium'"
        class="card-reveal-effect-custom-text medium"
        [innerHTML]="translateService.translate(card.customRevealEffect) | duneSymbols : '20px'"
      ></div>
    </div>
    <dune-reward-array *ngIf="card.revealEffects" [rewards]="card.revealEffects"></dune-reward-array>
  </div>
  <div class="card-aquire-effect-container" *ngIf="card.buyEffects && card.buyEffects.length">
    <dune-reward-array *ngIf="card.buyEffects" [rewards]="card.buyEffects" [size]="'24px'"></dune-reward-array>
  </div>
  <div
    [class]="
      'card-aquire-costs-container' +
      (card.buyEffects && card.buyEffects.length > 0 ? ' highlighted' : '') +
      (costModifier ? (costModifier > 0 ? ' negative' : ' positive') : '')
    "
    *ngIf="card.persuasionCosts"
  >
    <div class="card-aquire-costs">{{ card.persuasionCosts + costModifier }}</div>
  </div>
</div>
