<div class="imperium-card">
  <div class="card-header font-scifi">
    {{ t.translateLS(card.name) }}
  </div>
  <div class="card-img" [style.background-image]="'url(' + card.imageUrl + ')'">
    <div
      class="faction-container font-medieval"
      *ngIf="card.faction"
      [style.background]="'linear-gradient(90deg, ' + factionColor + ', rgb(90 90 90 / 50%))'"
    >
      {{ factionName.toUpperCase() }}
    </div>
    <div class="field-access-container">
      <ng-container *ngFor="let access of card.fieldAccess">
        <div [class]="'field-access ' + (card.canInfiltrate ? 'infiltration' : '')">
          <img class="field-access-image" [src]="getActionTypePath(access)" />
          @if (card.canInfiltrate) {
          <img class="field-access-image" [src]="'assets/images/action-types/action_type_infiltration.png'" /> }
        </div>
      </ng-container>
    </div>
  </div>
  <div
    class="card-agent-effect-container font-text"
    *ngIf="card.customAgentEffect?.en || (card.agentEffects && card.agentEffects.length > 0)"
  >
    <dune-reward-array
      *ngIf="card.agentEffects && card.agentEffects.length > 0"
      [rewards]="card.agentEffects"
      [size]="agentEffectSize"
    ></dune-reward-array>
    <div class="card-agent-effect-custom" *ngIf="card.customAgentEffect && card.customAgentEffect.en">
      <div
        *ngIf="!card.customAgentEffect.fontSize || card.customAgentEffect.fontSize == 'small'"
        class="card-reveal-effect-custom-text"
        [innerHTML]="t.translateLS(card.customAgentEffect) | duneSymbols"
      ></div>
      <div
        *ngIf="card.customAgentEffect.fontSize === 'medium'"
        class="card-reveal-effect-custom-text medium"
        [innerHTML]="t.translateLS(card.customAgentEffect) | duneSymbols : '22px'"
      ></div>
    </div>
  </div>
  <div
    class="card-agent-effect-separator"
    *ngIf="!card.customAgentEffect?.en && (!card.agentEffects || card.agentEffects.length === 0)"
  ></div>
  <div class="card-reveal-effect-container font-text">
    <dune-reward-array
      *ngIf="card.revealEffects && card.revealEffects.length > 0"
      [rewards]="card.revealEffects"
      [size]="revealEffectSize"
      [textColor]="'white'"
    ></dune-reward-array>
    <div class="card-reveal-effect-custom" *ngIf="card.customRevealEffect && card.customRevealEffect.en">
      <div
        *ngIf="!card.customRevealEffect.fontSize || card.customRevealEffect.fontSize == 'small'"
        class="card-reveal-effect-custom-text"
        [innerHTML]="t.translateLS(card.customRevealEffect) | duneSymbols"
      ></div>
      <div
        *ngIf="card.customRevealEffect.fontSize === 'medium'"
        class="card-reveal-effect-custom-text medium"
        [innerHTML]="t.translateLS(card.customRevealEffect) | duneSymbols : '22px'"
      ></div>
    </div>
  </div>
  <div class="card-aquire-effect-container" *ngIf="card.buyEffects && card.buyEffects.length > 0">
    <dune-reward-array *ngIf="card.buyEffects" [rewards]="card.buyEffects" [size]="'24px'"></dune-reward-array>
  </div>
  <div
    [class]="
      'card-aquire-costs-container font-text ' +
      (card.buyEffects && card.buyEffects.length > 0 ? ' highlighted' : '') +
      (costModifier ? (costModifier > 0 ? ' negative' : ' positive') : '')
    "
    *ngIf="card.persuasionCosts"
  >
    <div class="card-aquire-costs">{{ card.persuasionCosts + costModifier }}</div>
  </div>
</div>
