
.imperium-card {
    height: 342px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 12px solid #101010;
    border-radius: 8px;
    position: relative;
    color: #fffcfa;
    background-color: #101010;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.66));
    line-height: initial;
}

.card-header {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 40px;
    background-image: url(/assets/images/card-backgrounds/heading.png);
    background-size: cover;
    border-radius: 4px 4px 0px 0px;
    font-size: 14px;
}

.card-img {
    flex: 1 1;
    background-size: cover;
    border-top: 2px solid rgba(192, 192, 192, 0.243);
    position: relative;
    background-position: center;
}

.card-reveal-effect-container {
    display: flex;
    font-weight: initial;
    font-size: small;
    color: #e1e1e1;
    white-space: pre-wrap;
    min-height: 46px;
    padding: 6px;
    background-image: url(/assets/images/card-backgrounds/reveal-effect.png);
    background-size: cover;
    border-radius: 0px 0px 4px 4px;
    background-color: #1f2533;
}

.card-agent-effect-container {
    display: flex;
    font-weight: initial;
    font-size: small;
    color: #e1e1e1;
    white-space: pre-wrap;
    min-height: 30px;
    padding: 6px;
    background-image: url(/assets/images/card-backgrounds/agent-effect.png);
    background-size: cover;
}

.card-agent-effect-separator {
    min-height: 2px;
    background-image: url(/assets/images/card-backgrounds/agent-effect.png);
    background-size: 100%;
}

.card-reveal-effect-custom,
.card-agent-effect-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.card-agent-effect-custom {
    color: black;
}

.card-reveal-effect-custom-text,
.card-agent-effect-custom-text {
    text-align: center;
    line-height: 1.3;
}

.card-reveal-effect-custom-text.medium,
.card-agent-effect-custom-text.medium {
    font-size: medium;
}

dune-reward-array {
    width: 100%;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.card-aquire-costs-container {
    position: absolute;
    top: 0;
    right: 0;
    background: url(/assets/images/reward-markers/marker_conviction.png);
    width: 45px;
    height: 50px;
    background-size: 55px;
    background-position-y: bottom;
}

.card-aquire-costs {
    padding-top: 6px;
    padding-left: 20px;
    filter: drop-shadow(0px 1px 1px rgb(0, 0, 0));
    font-size: 26px;
}

.field-access-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 4px;
}

.field-access {
    height: 24px;
    width: 34px;
    background-image: url(/assets/images/card-backgrounds/field-access.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field-access-image {
    max-width: 26px;
    height: 18px;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 1));
}

.faction-container {
    width: -webkit-fill-available;
    padding: 2px 32px 2px 4px;
    font-size: x-small;
    text-wrap: nowrap;
    clip-path: polygon(0% 0, 120px 0%, 105px 100%, 0% 100%);
}

.card-aquire-costs-container.highlighted {
    filter: saturate(1.2) brightness(1.4);
}

.card-aquire-costs-container.negative {
    color: #f15f5f;
}

.card-aquire-costs-container.positive {
    color: #5ff15f;
}

.card-aquire-effect-container {
    position: absolute;
    top: 20px;
    right: 3px;
    width: 28px;
    padding-top: 29px;
    font-family: "Roboto", "Verdana";
    font-weight: initial;
    font-size: small;
    color: #e1e1e1;
    white-space: pre-wrap;
    background-image: url(/assets/images/card-backgrounds/aquire-effect.png);
    background-size: cover;
    background-position-y: bottom;
}

.imperium-card ::ng-deep br {
    display: block;
    content: "";
    height: 3px;
 }