<form [formGroup]="leaderForm">
  <div [class]="'form-group' + (editMode ? ' padding-top' : '')" formGroupName="name">
    <mat-form-field class="medium-text-field" [appearance]="editMode ? 'outline' : 'fill'">
      <mat-label>Name (English)</mat-label>
      <input matInput formControlName="en" [readonly]="editMode" />
    </mat-form-field>
    <mat-form-field class="medium-text-field" [appearance]="editMode ? 'outline' : 'fill'">
      <mat-label>Name (German)</mat-label>
      <input matInput formControlName="de" [readonly]="editMode" />
    </mat-form-field>
  </div>

  <div class="form-group" formGroupName="house">
    <mat-form-field class="medium-text-field">
      <mat-label>House (English)</mat-label>
      <input matInput formControlName="en" />
    </mat-form-field>
    <mat-form-field class="medium-text-field">
      <mat-label>House (German)</mat-label>
      <input matInput formControlName="de" />
    </mat-form-field>
  </div>

  <div class="title-container">
    <span class="card-effect-title"> Passive </span>
    <mat-icon
      [style]="'margin-left: 4px'"
      matTooltip="In the description you can use use icons with the syntax {resource:troops} or {faction:bene} f.e.."
      >info</mat-icon
    >
  </div>

  <div class="form-group" formGroupName="passiveName">
    <mat-form-field class="medium-text-field">
      <mat-label>Name (English)</mat-label>
      <input matInput formControlName="en" />
    </mat-form-field>
    <mat-form-field class="medium-text-field">
      <mat-label>Name (German)</mat-label>
      <input matInput formControlName="de" />
    </mat-form-field>
  </div>

  <div class="form-group" formGroupName="passiveDescription">
    <mat-form-field class="large-text-field">
      <mat-label>Description (English)</mat-label>
      <input matInput formControlName="en" />
    </mat-form-field>
    <mat-form-field class="large-text-field">
      <mat-label>Description (German)</mat-label>
      <input matInput formControlName="de" />
    </mat-form-field>
  </div>

  <div class="title-container">
    <span class="card-effect-title"> Signet Ring Ability </span>
    <mat-icon
      [style]="'margin-left: 4px'"
      matTooltip="In the description you can use use icons with the syntax {resource:troops} or {faction:bene} f.e.."
      >info</mat-icon
    >
  </div>

  <div class="form-group" formGroupName="signetName">
    <mat-form-field class="medium-text-field">
      <mat-label>Name (English)</mat-label>
      <input matInput formControlName="en" />
    </mat-form-field>
    <mat-form-field class="medium-text-field">
      <mat-label>Name (German)</mat-label>
      <input matInput formControlName="de" />
    </mat-form-field>
  </div>

  <div class="form-group" formGroupName="signetDescription">
    <mat-form-field class="large-text-field">
      <mat-label>Description (English)</mat-label>
      <input matInput formControlName="en" />
    </mat-form-field>
    <mat-form-field class="large-text-field">
      <mat-label>Description (German)</mat-label>
      <input matInput formControlName="de" />
    </mat-form-field>
  </div>

  <mat-form-field class="large-text-field margin-top">
    <mat-label>Image URL</mat-label>
    <input matInput formControlName="imageUrl" />
  </mat-form-field>
</form>
