<div class="available-techs">
  @for (techTile of availableTechTiles; track techTile.name.en) {
  <div class="tech-tile-container" (click)="setTechTileActive(techTile.name.en)">
    <dune-tech-tile
      [class]="techTile.name.en === activeTechTileId ? ' active' : ''"
      [card]="techTile"
      [costModifier]="getTechTileCostModifier(techTile)"
    ></dune-tech-tile>
    <div class="tech-tile-action-container" *ngIf="techTile.name.en === activeTechTileId">
      <button class="tech-buy-button" mat-fab [color]="'accent'" (click)="onTakeCardClicked(techTile)">
        <mat-icon>check</mat-icon>
      </button>
      <button class="tech-buy-button" mat-fab [color]="'accent'" (click)="onTrashCardClicked(techTile.name.en)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  } @if (!activePlayerId && availableTechTiles.length < 1) { @for (techBackside of ["", "", ""]; track $index) {
  <div class="tech-tile-backside"></div>
  } }
</div>
