.available-techs {
    position: absolute;
    top: 426px;
    right: 58px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    z-index: 2;
}

.tech-tile-container {
    position: relative;
}

dune-tech-tile {
    display: block;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.66));
    transition: 0.66s;
    transform: scale(0.97);
}

dune-tech-tile:hover,
dune-tech-tile.active {
    filter: drop-shadow(0px 0px 10px rgb(255, 170, 73));
    transform: scale(1.25);
    z-index: 3;
    position: relative;
}

.tech-tile-action-container {
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 16px;
    z-index: 3;
}