<div [class]="'audio-container ' + (showAudioSelection ? 'shown' : 'hidden')">
  <div class="control-bar">
    <button
      mat-fab
      [color]="'accent'"
      (click)="showAudioSelection = !showAudioSelection"
      [matTooltip]="t.translate('commonMenuAudio')"
    >
      <mat-icon *ngIf="!showAudioSelection">music_note</mat-icon>
      <mat-icon *ngIf="showAudioSelection">chevron_left</mat-icon>
    </button>
  </div>
  <div [class]="'player-container ' + (showAudioSelection ? 'shown' : 'hidden')">
    <mat-slide-toggle [color]="'accent'" [checked]="autoplayMusic" (change)="onAutoplayMusicClicked()"
      >Autplay Music</mat-slide-toggle
    >
    <dune-soundcloud-player
      [musicId]="1935683711"
      [type]="'playlists'"
      [autoplay]="autoplayMusic"
      [volume]="30"
    ></dune-soundcloud-player>
    <dune-soundcloud-player
      [musicId]="1985154320"
      [type]="'playlists'"
      [autoplay]="autoplayMusic"
      [volume]="40"
    ></dune-soundcloud-player>
  </div>
</div>
