<div [class]="'audio-container ' + (showAudioSelection ? 'shown' : 'hidden')">
  <div class="control-bar">
    <button mat-fab [color]="'accent'" (click)="showAudioSelection = !showAudioSelection">
      <mat-icon *ngIf="!showAudioSelection">music_note</mat-icon>
      <mat-icon *ngIf="showAudioSelection">chevron_left</mat-icon>
    </button>
  </div>
  <div [class]="'player-container ' + (showAudioSelection ? 'shown' : 'hidden')">
    <dune-soundcloud-player
      [musicId]="1935683711"
      [type]="'playlists'"
      [autoplay]="true"
      [volume]="30"
    ></dune-soundcloud-player>
    <dune-soundcloud-player
      [musicId]="1985154320"
      [type]="'playlists'"
      [autoplay]="true"
      [volume]="40"
    ></dune-soundcloud-player>
  </div>
</div>
