<div class="component-container">
  <iframe
    width="150"
    height="70"
    scrolling="no"
    frameborder="no"
    allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1341706477&color=%23e49944&auto_play=true&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=true&visual=true&sharing=false&show_playcount=false"
  ></iframe>
  <iframe
    width="150"
    height="70"
    scrolling="no"
    frameborder="no"
    allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1309441711&color=%23e49944&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=true&visual=true&sharing=false&show_playcount=false"
  ></iframe>
  <iframe
    width="150"
    height="70"
    scrolling="no"
    frameborder="no"
    allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1653607768&color=%23e49944&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=true&visual=true&sharing=false&show_playcount=false"
  ></iframe>
  <iframe
    width="150"
    height="70"
    scrolling="no"
    frameborder="no"
    allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1517059540&color=%23e49944&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=true&visual=true&sharing=false&show_playcount=false"
  ></iframe>
</div>
