<div class="cards-configurator">
  <div class="cards-manager">
    <div class="action-bar">
      <div class="settings-container"></div>
      <button mat-mini-fab [color]="'accent'" (click)="onAddPlotClicked()" matTooltip="Add Plot">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab [color]="'accent'" (click)="onRemovePlotsClicked()" matTooltip="Remove All Plots">
        <mat-icon>block</mat-icon>
      </button>
      <button mat-mini-fab [color]="'accent'" (click)="filePicker.click()" matTooltip="Import Plots">
        <mat-icon>folder_open</mat-icon>
      </button>
      <input #filePicker [hidden]="true" [type]="'file'" [accept]="'.json'" (change)="onImportPlotsClicked(filePicker)" />
      <button mat-mini-fab [color]="'accent'" (click)="onExportPlotsClicked()" matTooltip="Export Plots">
        <mat-icon>download</mat-icon>
      </button>
      <button mat-mini-fab [color]="'accent'" (click)="onToggleControlsClicked()">
        <mat-icon>hide_source</mat-icon>
      </button>
      <div class="settings-container">
        <mat-form-field>
          <mat-label>Plot Export Border Size</mat-label>
          <input matInput type="number" [(ngModel)]="imagePadding" />
        </mat-form-field>
      </div>
    </div>
    <div class="action-bar">
      <div>Total {{ totalPlotAmount }} plots</div>
    </div>
    <div class="action-bar" [style.gap]="'32px'">
      <div class="sortable-category" (click)="onSortByCostsClicked()">costs:</div>
      <div *ngFor="let item of costs | keyvalue">
        {{ item.key }} {{ item.value }} ({{ (item.value * 100) / totalPlotAmount | number : '1.2-2' }}%)
      </div>
    </div>
    <div class="action-bar" [style.gap]="'32px'">
      <div class="sortable-category" (click)="onSortByFactionsClicked()">plot-factions:</div>
      <div>no faction {{ noFactions }} ({{ (noFactions * 100) / totalPlotAmount | number : '1.2-2' }}%)</div>
      <div *ngFor="let item of factions | keyvalue">
        {{ item.key }} {{ item.value }} ({{ (item.value * 100) / totalPlotAmount | number : '1.2-2' }}%)
      </div>
    </div>
    <div class="cards-preview-container">
      @for (plot of imperiumPlots; track $index) {
      <div class="card-container">
        <div #cardimg [style]="'padding:' + imagePadding + 'px'">
          <dune-plot-card [plot]="plot"></dune-plot-card>
        </div>
        <div class="card-action-bar" *ngIf="showControls">
          <button mat-mini-fab [color]="'accent'" (click)="onEditPlotClicked(plot)" matTooltip="Edit">
            <mat-icon>settings</mat-icon>
          </button>
          <button mat-mini-fab [color]="'accent'" (click)="onDeletePlotClicked(plot.name.en)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-mini-fab [color]="'accent'" (click)="onSavePlotClicked(cardimg, plot.name.en)" matTooltip="Save">
            <mat-icon>download</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</div>
