<div class="page-container">
  <div class="about-container">
    <h2>About</h2>
    <div>This is a home made web project for the dune imperium game from direwolf digital.</div>
    <br />
    <div>
      It contains a card configurator to create new imperium cards for the game, a leader configurator to create new leaders
      and a fully playable custom game board including ai. The only things that are not digitalized yet are the imperium
      cards, intrigues and tech tiles, which need to be used from the board game.
    </div>
    <br /><br /><br />
    <div>You can also find this project on github in case you heave any ideas for improvement or find any bugs.</div>
    <br />
    <a [href]="'https://github.com/Mewyii/dune-game-board'" [target]="'_blank'">https://github.com/Mewyii/dune-game-board</a>
  </div>
  <div class="credits-container">
    <h2>Credits</h2>
    <div><b>Direwolf Digital</b> for the incredible dune imperium game which inspired me to do all this.</div>
    <br />
    <div>
      <b>Cartmanbeck</b> for the photoshop files from which i extracted and edited some backgrounds for the cards
      configurator.
      <br />
      <b>Titus Iacob</b> from Boardgamegeek for the leader-frame, available here:
      https://boardgamegeek.com/thread/3281365/templates-leader-and-rival-cards
    </div>
    <br />
    <div>
      Click Sound Effect by
      <a
        href="https://pixabay.com/de/users/r-0-t-0-34451638/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=151673"
        >Lucas NA</a
      >
      from
      <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=151673"
        >Pixabay</a
      >
    </div>
    <div>
      Minor Click Sound Effect by
      <a
        href="https://pixabay.com/de/users/666herohero-25759907/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=21156"
        >666HeroHero</a
      >
      from
      <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=21156"
        >Pixabay</a
      >
    </div>
    <div>
      Flip Sound Effect by
      <a
        href="https://pixabay.com/de/users/dheerajakam4jor-36410348/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=149890"
        >Dheeraj M4JOR</a
      >
      from
      <a
        href="https://pixabay.com/sound-effects//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=149890"
        >Pixabay</a
      >
    </div>
    <div>
      Intro & Turn End Sound Effect by
      <a
        href="https://pixabay.com/de/users/aiko_changing-30278997/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=185556"
        >Aiko Matsuda</a
      >
      from
      <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=185556"
        >Pixabay</a
      >
    </div>
    <div>
      Combat Sound Effect by
      <a
        href="https://pixabay.com/de/users/submority-30821389/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=161150"
        >SUBMORITY</a
      >
      from
      <a
        href="https://pixabay.com/sound-effects//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=161150"
        >Pixabay</a
      >
    </div>
    <div>
      Solari, Water, Spice, Sword, Intrigue, High-Council, Fog, Card-Draw and Aquire Tech Sound Effects from
      <a
        href="https://pixabay.com/sound-effects/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=36030"
        >Pixabay</a
      >
    </div>
    <div>
      Dreadnought Sound Effect by
      <a
        href="https://pixabay.com/de/users/chakong-39837526/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=182224"
        >Angel Chacón</a
      >
      from
      <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=182224"
        >Pixabay</a
      >
    </div>
    <div>
      Victory-Point Sound Effect by
      <a
        href="https://pixabay.com/de/users/dyablintones-36828987/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=182755"
        >jorge arteaga</a
      >
      from
      <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=182755"
        >Pixabay</a
      >
    </div>
    <div>
      Swordmaster Sound Effect by
      <a
        href="https://pixabay.com/de/users/naeftali-32569417/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=142917"
        >Kamil Kopowski</a
      >
      from
      <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=142917"
        >Pixabay</a
      >
    </div>
    <div>
      Troop Sound Effect by
      <a
        href="https://pixabay.com/de/users/liecio-3298866/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=190202"
        >LIECIO</a
      >
      from
      <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=190202"
        >Pixabay</a
      >
    </div>
  </div>
</div>
