form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.form-group {
  display: flex;
  gap: 20px;
  align-items: baseline;
  flex: 1 1;
}

.small-text-field {
  width: 150px;
  min-width: 150px;
}

.medium-text-field {
  width: 250px;
  min-width: 250px;
}

.big-text-field {
  width: 400px;
  min-width: 400px;
}

.larger-text-field {
  width: 600px;
  min-width: 600px;
}

.large-text-field {
  width: 800px;
  min-width: 800px;
}

.flex {
  flex: 1 1;
}

.wrap {
  flex-wrap: wrap;
}

.padding-top {
  padding-top: 8px;
}

.margin-top {
  margin-top: 32px;
}

.title-container {
  display: flex;
  align-items: center;
  font-size: x-large;
  margin-bottom: 8px;
}
