<p>event-editor works!</p>
<form [formGroup]="eventForm">
  <div [class]="'form-group' + (editMode ? ' padding-top' : '')" formGroupName="title">
    <mat-form-field class="medium-text-field" [appearance]="editMode ? 'outline' : 'fill'">
      <mat-label>Title (English)</mat-label>
      <input matInput formControlName="en" [readonly]="editMode" />
    </mat-form-field>
    <mat-form-field class="medium-text-field" [appearance]="editMode ? 'outline' : 'fill'">
      <mat-label>Title (German)</mat-label>
      <input matInput formControlName="de" [readonly]="editMode" />
    </mat-form-field>
  </div>

  <div class="form-group" formGroupName="description">
    <mat-form-field class="large-text-field">
      <mat-label>Description (English)</mat-label>
      <input matInput formControlName="en" />
    </mat-form-field>
    <mat-form-field class="large-text-field">
      <mat-label>Description (German)</mat-label>
      <input matInput formControlName="de" />
    </mat-form-field>
  </div>

  <mat-form-field class="large-text-field">
    <mat-label>Image URL</mat-label>
    <input matInput formControlName="imagePath" />
  </mat-form-field>

  <mat-form-field class="small-text-field">
    <mat-label>Card Amount</mat-label>
    <input matInput type="number" formControlName="cardAmount" />
  </mat-form-field>
</form>
