<router-outlet></router-outlet>
<div class="navigation-container">
  <div class="navigation-element" [routerLink]="'game-board'">game board</div>
  <div class="navigation-element" [routerLink]="'starting-card-configurator'">starting-cards</div>
  <div class="navigation-element" [routerLink]="'imperium-card-configurator'">imperium-cards</div>
  <div class="navigation-element" [routerLink]="'tech-tile-configurator'">tech-tiles</div>
  <div class="navigation-element" [routerLink]="'leader-configurator'">leaders</div>
  <div class="navigation-element" [routerLink]="'event-configurator'">events</div>
  <div class="navigation-element" (click)="switchLanguage()">{{ settingsService.settings.language }}</div>
  <div class="navigation-element" (click)="showSettingsDialog()">settings</div>
  <div class="navigation-element" [routerLink]="'about'">about</div>
</div>
