<router-outlet></router-outlet>
<div class="navigation-container">
  <div class="navigation-element" [routerLink]="'game-board'">game board</div>
  <div class="navigation-element" [routerLink]="'card-configurator'">card configurator</div>
  <div class="navigation-element" [routerLink]="'leader-configurator'">leader configurator</div>
  <div class="navigation-element" (click)="switchLanguage()">{{ settingsService.settings.language }}</div>
  <div class="navigation-element" [routerLink]="'about'">about</div>
</div>
