.navigation-container {
    position: fixed;
    top: 25%;
    left: 0;
    background: #362b23;
    z-index: 3;
    word-break: break-word;
    text-wrap: wrap;
    display: flex;
    flex-direction: row;
    writing-mode: vertical-lr;
    font-size: small;
    gap: 6px;
    padding: 6px;
    filter: drop-shadow(0px 0px 12px black);
}

.navigation-element {
    background-color: #72543d;
    padding: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.navigation-element:hover {
    background-color: #966f52;
    color: rgb(46, 25, 0);
}