<form [formGroup]="techTileForm">
  <div [class]="'form-group' + (editMode ? ' padding-top' : '')" formGroupName="name">
    <mat-form-field class="big-text-field flex" [appearance]="editMode ? 'outline' : 'fill'">
      <mat-label>Name (English)</mat-label>
      <input matInput formControlName="en" [readonly]="editMode" />
    </mat-form-field>
    <mat-form-field class="big-text-field flex" [appearance]="editMode ? 'outline' : 'fill'">
      <mat-label>Name (German)</mat-label>
      <input matInput formControlName="de" [readonly]="editMode" />
    </mat-form-field>
  </div>

  <!-- Faction -->
  <mat-form-field>
    <mat-label>Faction</mat-label>
    <mat-select formControlName="faction">
      <mat-option *ngFor="let faction of factions" [value]="faction">{{ faction }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Persuasion Costs -->
  <mat-form-field>
    <mat-label>Tech Costs</mat-label>
    <input matInput formControlName="costs" type="number" />
  </mat-form-field>

  <!-- Image -->
  <mat-form-field class="larger-text-field flex">
    <mat-label>Image URL</mat-label>
    <input matInput formControlName="imageUrl" />
  </mat-form-field>
  <mat-form-field class="small-text-field">
    <mat-label>Image Position</mat-label>
    <mat-select formControlName="imagePosition">
      <mat-option *ngFor="let imagePosition of imagePositions" [value]="imagePosition">{{ imagePosition }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Buy Effects -->
  <div class="card-effect-container">
    <div class="title-container">
      <span class="card-effect-title"> Buy Effects </span>
    </div>
    <div formArrayName="buyEffects">
      <div class="form-group" *ngFor="let buyEffect of buyEffects.controls; let i = index">
        <mat-form-field class="big-text-field flex">
          <mat-label>Effect Type</mat-label>
          <mat-select [formControl]="getBuyEffectTypeControl(i)">
            <mat-select-trigger>
              <div class="reward-container">
                <img class="reward" [src]="getEffectTypePath(getBuyEffectTypeControl(i).value)" />
                <span class="reward-label">{{ getBuyEffectTypeControl(i).value }}</span>
              </div>
            </mat-select-trigger>
            <mat-option *ngFor="let rewardType of rewardTypes" [value]="rewardType">
              <div class="reward-container">
                <img class="reward" [src]="getEffectTypePath(rewardType)" />
                <span class="reward-label">{{ rewardType }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input matInput [formControl]="getBuyEffectAmountControl(i)" type="number" />
        </mat-form-field>
        <button mat-mini-fab [color]="'accent'" (click)="onRemoveBuyEffectClicked(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button mat-mini-fab [color]="'accent'" (click)="onAddBuyEffectClicked()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <!-- Tech Tile Effects -->
  <div class="card-effect-container">
    <div class="title-container">
      <span class="card-effect-title"> Effects </span>
    </div>
    <div formArrayName="effects">
      <div class="form-group" *ngFor="let effect of effects.controls; let i = index">
        <mat-form-field class="big-text-field">
          <mat-label>Effect Type</mat-label>
          <mat-select [formControl]="getAgentEffectTypeControl(i)">
            <mat-select-trigger>
              <div class="reward-container">
                <img class="reward" [src]="getEffectTypePath(getAgentEffectTypeControl(i).value)" />
                <span class="reward-label">{{ getAgentEffectTypeControl(i).value }}</span>
              </div>
            </mat-select-trigger>
            <mat-option *ngFor="let rewardType of effectTypes" [value]="rewardType">
              <div class="reward-container">
                <img class="reward" [src]="getEffectTypePath(rewardType)" />
                <span class="reward-label">{{ rewardType }}</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input matInput [formControl]="getAgentEffectAmountControl(i)" type="number" />
        </mat-form-field>
        <button mat-mini-fab [color]="'accent'" (click)="onRemoveAgentEffectClicked(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button mat-mini-fab [color]="'accent'" (click)="onAddAgentEffectClicked()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-form-field class="margin-top">
      <mat-label>Effect Size</mat-label>
      <mat-select formControlName="effectSize">
        <mat-option *ngFor="let fontSize of fontSizes" [value]="fontSize">{{ fontSize }}</mat-option>
      </mat-select> </mat-form-field
    ><br /><br />
    <div>
      Custom Effect Text
      <mat-icon
        [style]="'margin-left: 4px'"
        matTooltip="Custom text where you can use icons with the syntax {resource:troops} or {faction:bene} f.e.."
        >info</mat-icon
      >
    </div>
    <div class="form-group wrap" formGroupName="customEffect">
      <mat-form-field class="large-text-field flex">
        <mat-label>English</mat-label>
        <input matInput formControlName="en" />
      </mat-form-field>
      <mat-form-field class="large-text-field flex">
        <mat-label>German</mat-label>
        <input matInput formControlName="de" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Font Size</mat-label>
        <mat-select formControlName="fontSize">
          <mat-option *ngFor="let fontSize of fontSizes" [value]="fontSize">{{ fontSize }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>
