<div class="event-board" *ngIf="currentPlayer && currentAIPlayer">
  <div class="heading-container">
    <mat-slide-toggle
      *ngIf="currentAIPlayer"
      [color]="'accent'"
      [checked]="showDetails"
      (change)="showDetails = !showDetails"
      >AI Details</mat-slide-toggle
    >
  </div>
  <div class="heading-container" *ngIf="currentAIPlayer && showDetails">
    <div class="info-container">
      <div>personality</div>
      <div class="ai-name">{{ currentAIPlayer.name }}</div>
      <button mat-mini-fab [color]="'accent'" (click)="onSetPreviousAIPersonalityClicked()">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-mini-fab [color]="'accent'" (click)="onSetNextAIPersonalityClicked()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="info-container">
      <mat-slide-toggle
        [color]="'accent'"
        [checked]="currentAIPlayer.canAccessBlockedFields"
        (change)="onChangeFieldAccessClicked(!currentAIPlayer.canAccessBlockedFields)"
        >can access blocked fields</mat-slide-toggle
      >
    </div>
  </div>
  <!-- <div class="game-state-container">
    <div class="info-container">
      <div class="game-state-name">imperium row</div>
      <mat-checkbox [checked]="getAIVariable('imperiumRow') === 'good'" (change)="setAIVariable('imperiumRow', 'good')"
        >Good</mat-checkbox
      >
      <mat-checkbox [checked]="getAIVariable('imperiumRow') === 'okay'" (change)="setAIVariable('imperiumRow', 'okay')"
        >Okay</mat-checkbox
      >
      <mat-checkbox [checked]="getAIVariable('imperiumRow') === 'bad'" (change)="setAIVariable('imperiumRow', 'bad')"
        >Bad</mat-checkbox
      >
    </div>
  </div> -->
  <div class="decision-container" *ngIf="currentPlayer.isAI && currentAIPlayer">
    <div class="preferred-fields-container" *ngIf="showDetails">
      <div
        *ngFor="let field of currentAIPlayer.preferredFields; let i = index; let isFirst = first"
        [class]="'field ' + (i < 3 ? 'good ' : i < 6 ? 'medium ' : 'bad ') + (isFirst ? 'first' : '')"
      >
        {{ field.fieldId }} <span *ngIf="showDetails"> {{ field.value }}</span>
      </div>
    </div>
    <div class="ai-strategy-container">
      <div class="field-container" [style.color]="'#ffaa49'" *ngFor="let decision of currentAIPlayer.decisions">
        {{ decision }}
      </div>
    </div>
  </div>
</div>
