.ai-container {
  width: 100%;
}

.game-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.heading-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 32px;
  justify-content: center;
  margin-bottom: 16px;
}

.info-container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.field-decision-container {
  width: calc(100% - 64px);
  margin-bottom: 64px;
}

.decision-container {
  width: calc(100% - 64px);
  display: flex;
  flex-wrap: wrap;
  gap: 8px 32px;
  justify-content: center;
}

.preferred-fields-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  max-height: 175px;
  overflow: auto;
}

.field-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ai-strategy-container {
  margin-top: 16px;
  display: flex;
  gap: 32px;
}

mat-slide-toggle {
  margin-left: 8px;
}

.ai-name {
  width: 150px;
  text-align: center;
  color: #ffaa49;
}

.value {
  width: 25px;
  text-align: center;
  color: #ffaa49;
}

.field {
  width: 80%;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
}

.first {
  background-color: #3a843a !important;
  box-shadow: inset 0px 0px 10px -2px rgb(255, 255, 255);
}

.good {
  background-color: #406f40;
}

.medium {
  background-color: #5d7057;
}

.bad {
  background-color: #8a5e5e;
}

.game-state-name {
  width: 160px;
}

.mat-checkbox {
  width: 80px;
}
