@if (currentPlayer && currentAIPlayer) {
<div class="ai-container">
  <div class="heading-container" *ngIf="currentAIPlayer && showDetails">
    <div class="info-container">
      <div>personality</div>
      <div class="ai-name">{{ currentAIPlayer.name }}</div>
      <button mat-mini-fab [color]="'accent'" (click)="onSetPreviousAIPersonalityClicked()">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-mini-fab [color]="'accent'" (click)="onSetNextAIPersonalityClicked()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="info-container">
      <mat-slide-toggle
        [color]="'accent'"
        [checked]="currentAIPlayer.canAccessBlockedFields"
        (change)="onChangeFieldAccessClicked(!currentAIPlayer.canAccessBlockedFields)"
        >can access blocked fields</mat-slide-toggle
      >
    </div>
  </div>
  <div class="decision-container" *ngIf="currentPlayer.isAI && currentAIPlayer && showDetails">
    <div class="preferred-fields-container" *ngIf="showDetails">
      <div
        *ngFor="let field of currentAIPlayer.preferredFields; let i = index; let isFirst = first"
        [class]="'field ' + (i < 3 ? 'good ' : i < 6 ? 'medium ' : 'bad ') + (isFirst ? 'first' : '')"
      >
        {{ field.fieldId }} <span *ngIf="showDetails"> {{ field.value }}</span>
      </div>
    </div>
    <div class="ai-strategy-container">
      <div class="field-container" [style.color]="'#ffaa49'" *ngFor="let decision of currentAIPlayer.decisions">
        {{ decision }}
      </div>
    </div>
  </div>
</div>
}
