<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content class="cards-container">
  <div
    class="card-container"
    *ngFor="let factionType of data.factionTypes"
    [class.selectable]="isSelectMode"
    [class.selected]="isSelected(factionType)"
    (click)="onCardClick(factionType)"
    (mouseenter)="hoveredFactionId = factionType"
    (mouseleave)="hoveredFactionId = ''"
  >
    <dune-highlighting
      *ngIf="factionType === selectedFaction || factionType === hoveredFactionId"
      [id]="factionType"
      [width]="75"
      [height]="75"
      [bottom]="-5"
      [left]="-10"
    ></dune-highlighting>
    <div class="resource-container">
      <img class="resource" [src]="factionType | factionTypePath" />
    </div>
  </div>
</div>
<div mat-dialog-actions>
  @if (isSelectMode) {
    <button
      mat-mini-fab
      [color]="'accent'"
      [disabled]="!selectedFaction"
      (click)="onConfirm()"
      [matTooltip]="t.translate('commonConfirm')"
    >
      <mat-icon>check</mat-icon>
    </button>
  } @else {
    <button mat-mini-fab [color]="'accent'" (click)="onClose()" [matTooltip]="t.translate('commonCancel')">
      <mat-icon>close</mat-icon>
    </button>
  }
</div>
