.cards-container {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  padding-top: 32px !important;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 16px;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-container {
  position: relative;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.66));
  transition: 0.9s;
  transform: scale(0.95);
  user-select: none;

  &.selectable {
    cursor:
      url('/assets/images/cursors/pointer.png') 6 6,
      pointer;
    z-index: 3;
    position: relative;

    &:hover {
      filter: drop-shadow(0px 0px 20px rgb(255, 170, 73)) brightness(1.15);
      transform: scale(1.1);
    }

    &.selected {
      filter: drop-shadow(0px 0px 15px rgb(255, 170, 73)) brightness(1.2);
      transform: scale(1.1);
    }
  }
}

.card-action-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 3;
}

.resource {
  height: 55px;
  width: 55px;
  object-fit: scale-down;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.5));
}

.mat-mdc-dialog-title {
  font-family: 'medieval';
  filter: drop-shadow(0px 0px 1px rgba(255, 170, 73, 0.732));
}

.mat-mdc-dialog-title.positive {
  filter: drop-shadow(0px 0px 1px #5ff15fbf);
}

.mat-mdc-dialog-title.negative {
  filter: drop-shadow(0px 0px 1px #f15f5fbb);
}
