<ng-container>
  <div class="player-hand-container">
    <div
      *ngIf="cardsShown === 'hand' && currentPlayer?.isAI"
      class="draw-card-button"
      (click)="onAITrashIntrigueClicked()"
      matTooltip="AI trash intrigue"
    >
      <img class="draw-card-icon" [src]="getRewardTypePath('intrigue-trash')" />
    </div>
    <div class="player-cards-container">
      <ng-container *ngIf="playerIntrigues && cardsShown === 'hand'">
        <div
          *ngFor="let intrigue of playerIntrigues"
          [class]="'intrigue-container' + (showCards ? ' ' : ' hidden')"
          (click)="setIntrigueActive(intrigue.id)"
        >
          <dune-intrigue-card
            *ngIf="!currentPlayer?.isAI"
            [card]="intrigue"
            [class]="intrigue.id === activeIntrigueId ? 'active' : ''"
          ></dune-intrigue-card>
          <div
            *ngIf="currentPlayer?.isAI"
            [class]="'intrigue-card background' + (intrigue.id === activeIntrigueId ? ' active' : '')"
          ></div>
          <div class="intrigue-action-container" *ngIf="intrigue.id === activeIntrigueId">
            <button
              class="card-activate-button"
              mat-fab
              [color]="'accent'"
              (click)="onPlayIntrigueClicked(intrigue)"
              matTooltip="Play"
            >
              <mat-icon>check</mat-icon>
            </button>
            <button
              class="card-remove-button"
              mat-fab
              [color]="'accent'"
              (click)="onTrashIntrigueClicked(intrigue)"
              matTooltip="Trash"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="playerHandCards && cardsShown === 'hand'">
        <div
          *ngFor="let handCard of playerHandCards.cards"
          [class]="'card-container' + (showCards ? ' ' : ' hidden')"
          (click)="setCardActive(handCard.id)"
        >
          <dune-imperium-row-card
            [class]="
              (handCard.id === activeCardId ? 'active' : '') +
              (playedPlayerCardId ? (handCard.id === playedPlayerCardId ? ' played' : ' not-played') : '')
            "
            [card]="handCard"
          ></dune-imperium-row-card>
          <div class="card-action-container" *ngIf="handCard.id === activeCardId">
            <button
              *ngIf="currentPlayer?.turnState === 'agent-placement' && handCard.id !== playedPlayerCardId"
              class="card-activate-button"
              mat-fab
              [color]="'accent'"
              (click)="onPlayCardClicked(handCard)"
              matTooltip="Play"
            >
              <mat-icon>check</mat-icon>
            </button>
            <button
              *ngIf="handCard.id === playedPlayerCardId"
              class="card-activate-button"
              mat-fab
              [color]="'accent'"
              (click)="onUnPlayCardClicked(handCard.id)"
              matTooltip="Cancel"
            >
              <mat-icon>close</mat-icon>
            </button>
            <button
              class="card-discard-button"
              mat-fab
              [color]="'accent'"
              (click)="onDiscardCardClicked(handCard)"
              matTooltip="Discard"
            >
              <mat-icon>expand_more</mat-icon>
            </button>
            <button
              class="card-remove-button"
              mat-fab
              [color]="'accent'"
              (click)="onTrashHandCardClicked(handCard)"
              matTooltip="Trash"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="playerDiscardPiles && cardsShown === 'discard'">
        <div
          *ngFor="let card of playerDiscardPiles.cards"
          [class]="'card-container' + (showCards ? ' ' : ' hidden')"
          (click)="setCardActive(card.id)"
        >
          <dune-imperium-row-card [class]="card.id === activeCardId ? 'active' : ''" [card]="card"></dune-imperium-row-card>
          <div class="card-action-container" *ngIf="card.id === activeCardId">
            <button
              class="card-remove-button"
              mat-fab
              [color]="'accent'"
              (click)="onReturnDiscardedCardToHandClicked(card)"
              matTooltip="Return To Hand"
            >
              <mat-icon>expand_less</mat-icon>
            </button>
            <button
              class="card-remove-button"
              mat-fab
              [color]="'accent'"
              (click)="onTrashDiscardedCardClicked(card)"
              matTooltip="Trash"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
    <div *ngIf="cardsShown === 'hand'" class="draw-card-button" (click)="onDrawCardClicked()" matTooltip="Draw card">
      <img class="draw-card-icon" [src]="getRewardTypePath('card-draw')" />
    </div>
    <div
      *ngIf="cardsShown === 'hand'"
      class="draw-card-button"
      (click)="onAddFoldspaceToHandClicked()"
      matTooltip="Draw Foldspace"
    >
      <img class="draw-card-icon" [src]="getRewardTypePath('foldspace')" />
    </div>
    <div
      *ngIf="cardsShown === 'hand' && currentPlayer?.isAI"
      class="draw-card-button"
      (click)="onAIDiscardCardClicked()"
      matTooltip="AI Discard card"
    >
      <img class="draw-card-icon" [src]="getRewardTypePath('card-discard')" />
    </div>
    <div
      *ngIf="cardsShown === 'hand' && currentPlayer?.isAI"
      class="draw-card-button"
      (click)="onAITrashCardFromHandClicked()"
      matTooltip="AI Trash card"
    >
      <img class="draw-card-icon" [src]="getRewardTypePath('card-destroy')" />
    </div>
    <div
      *ngIf="cardsShown === 'discard' && currentPlayer?.isAI"
      class="draw-card-button"
      (click)="onAITrashCardFromDiscardPileClicked()"
      matTooltip="AI Trash card"
    >
      <img class="draw-card-icon" [src]="getRewardTypePath('card-destroy')" />
    </div>
    <button
      *ngIf="cardsShown === 'discard'"
      mat-mini-fab
      [color]="'accent'"
      (click)="onAIAddCardToHandFromDiscardPileClicked()"
      matTooltip="AI add card to hand"
    >
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button
      *ngIf="cardsShown === 'discard'"
      mat-mini-fab
      [color]="'accent'"
      (click)="onShuffleDiscardPileUnderDeckClicked()"
      matTooltip="shuffle under deck"
    >
      <mat-icon>redo</mat-icon>
    </button>
    <button
      *ngIf="cardsShown === 'deck'"
      mat-mini-fab
      [color]="'accent'"
      (click)="onShowTopCardClicked()"
      matTooltip="show top card"
    >
      <mat-icon>visibility</mat-icon>
    </button>
    <button
      *ngIf="cardsShown === 'deck'"
      mat-mini-fab
      [color]="'accent'"
      (click)="onShuffleDeckClicked()"
      matTooltip="shuffle deck"
    >
      <mat-icon>sync</mat-icon>
    </button>
    <div
      [class]="'draw-card-button' + (cardsShown === 'hand' ? ' active' : '')"
      (click)="onShowHandClicked()"
      matTooltip="Hand"
    >
      <img class="card-stack-icon" [src]="'assets/images/reward-markers/marker_card_pile_hand.png'" />
    </div>
    <div
      [class]="'draw-card-button' + (cardsShown === 'discard' ? ' active' : '')"
      (click)="onShowDiscardPileClicked()"
      matTooltip="Discard-pile"
    >
      <img class="card-stack-icon" [src]="'assets/images/reward-markers/marker_card_pile_discard.png'" />
    </div>
    <div
      [class]="'draw-card-button' + (cardsShown === 'deck' ? ' active' : '')"
      (click)="onShowDeckClicked()"
      matTooltip="Deck"
    >
      <img class="card-stack-icon" [src]="'assets/images/reward-markers/marker_card_pile_deck.png'" />
    </div>
    <div>
      <button mat-fab [color]="'accent'" (click)="onToggleShowCardsClicked()">
        <mat-icon *ngIf="!showCards">expand_less</mat-icon>
        <mat-icon *ngIf="showCards">expand_more</mat-icon>
      </button>
    </div>
  </div>
</ng-container>
