<div class="reward-choices-container">
  <ng-container *ngIf="playerRewardChoices">
    @for (rewardsChoice of playerRewardChoices.rewardsChoices; track $index) {
    <div class="rewards-choice" (click)="onRewardsChoiceClicked(rewardsChoice.id)">
      @for (reward of rewardsChoice.choice; track $index) {
      <dune-reward-array [rewards]="rewardsChoice.choice" [textColor]="'white'"></dune-reward-array>
      }
    </div>
    } @for (rewardChoice of playerRewardChoices.rewardChoices; track $index) {
    <div class="reward-choice" (click)="onRewardChoiceClicked(rewardChoice.id)">
      <dune-reward-array [rewards]="[rewardChoice.choice]" [textColor]="'white'"></dune-reward-array>
    </div>
    } @for (rewardChoice of playerRewardChoices.customChoices; track $index) {
    <div
      class="reward-choice"
      [innerHTML]="rewardChoice.choice | duneSymbols : '22px'"
      (click)="onCustomChoiceClicked(rewardChoice.id)"
    ></div>
    }
  </ng-container>
  @for (effectOption of playerEffectOptions; track $index; let idx = $index) {
  <div
    [class]="'rewards-choice ' + (activeEffectId === 'option' + idx ? 'active' : '')"
    (click)="setEffectActive('option' + idx)"
  >
    @for (leftEffect of effectOption.left; track $index) {
    <dune-reward-array [rewards]="[leftEffect]" [textColor]="'white'"></dune-reward-array>
    }
    <div class="reward-container">
      <img class="reward" [src]="getEffectTypePath('helper-or')" />
    </div>
    @for (rightEffect of effectOption.right; track $index) {
    <dune-reward-array [rewards]="[rightEffect]" [textColor]="'white'"></dune-reward-array>
    }
    <div class="control-bar" *ngIf="activeEffectId === 'option' + idx">
      <button class="tech-buy-button" mat-fab [color]="'accent'" (click)="onOptionEffectLeftClicked(effectOption, idx)">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button class="tech-buy-button" mat-fab [color]="'accent'" (click)="onOptionEffectRightClicked(effectOption, idx)">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
  }@for (effectConversion of playerEffectConversions; track $index; let idx = $index) {
  <div
    [class]="'rewards-choice ' + (activeEffectId === 'conversion' + idx ? 'active' : '')"
    (click)="setEffectActive('conversion' + idx)"
  >
    @for (leftEffect of effectConversion.left; track $index) {
    <dune-reward-array [rewards]="[leftEffect]" [textColor]="'white'"></dune-reward-array>
    }
    <div class="reward-container">
      <img class="reward" [src]="getEffectTypePath('helper-trade')" />
    </div>
    @for (rightEffect of effectConversion.right; track $index) {
    <dune-reward-array [rewards]="[rightEffect]" [textColor]="'white'"></dune-reward-array>
    }
    <div class="control-bar" *ngIf="activeEffectId === 'conversion' + idx">
      <button class="tech-buy-button" mat-fab [color]="'accent'" (click)="onConvertEffectClicked(effectConversion, idx)">
        <mat-icon>check</mat-icon>
      </button>
      <button class="tech-buy-button" mat-fab [color]="'accent'" (click)="onDenyConversionClicked(idx)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  } @if (deployableUnits) {
  <div
    [class]="'reward-choice ' + (activeEffectId === 'deployableUnits' ? 'active' : '')"
    (click)="setEffectActive('deployableUnits')"
  >
    <div [innerHTML]="t.translate('commonEffectRewardUnitInsert', true, deployableUnits)"></div>
  </div>
  } @if (deployableTroops) {
  <div
    [class]="'reward-choice ' + (activeEffectId === 'deployableTroops' ? 'active' : '')"
    (click)="setEffectActive('deployableTroops')"
  >
    <div [innerHTML]="t.translate('commonEffectRewardTroopInsert', true, deployableTroops)"></div>
    <div class="control-bar" *ngIf="activeEffectId === 'deployableTroops'">
      @for (deployAmount of deployableTroops | numberToArray; track $index) {
      <button class="tech-buy-button" mat-fab [color]="'accent'" (click)="onDeployTroopsClicked(deployAmount)">
        {{ deployAmount }}
      </button>
      }
    </div>
  </div>
  } @if (deployableDreadnoughts) {
  <div
    [class]="'reward-choice ' + (activeEffectId === 'deployableDreadnoughts' ? 'active' : '')"
    (click)="setEffectActive('deployableDreadnoughts')"
  >
    <div [innerHTML]="t.translate('commonEffectRewardDreadnoughtInsert', true, deployableDreadnoughts)"></div>
    <div class="control-bar" *ngIf="activeEffectId === 'deployableDreadnoughts'">
      @for (deployAmount of deployableDreadnoughts | numberToArray; track $index) {
      <button class="tech-buy-button" mat-fab [color]="'accent'" (click)="onDeployDreadnoughtsClicked(deployAmount)">
        {{ deployAmount }}
      </button>
      }
    </div>
  </div>
  }
</div>
