dune-conflict-card,
.conflict-card {
  position: absolute;
  bottom: 295px;
  right: 15px;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.66));
  transition: 0.9s;
  user-select: none;
}

dune-conflict-card {
  animation-name: conflict-anim;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
}

dune-conflict-card:hover,
dune-conflict-card.active {
  filter: drop-shadow(0px 0px 20px rgb(255, 170, 73)) brightness(1.15);
  transform: scale(1.5);
  z-index: 3;
}

.conflict-card.backside {
  right: 15px;
  background-position: center;
  background-size: cover;
  height: 255px;
  width: 170px;
  bottom: 15px;
}

.conflict-card.backside.one {
  background-image: url('/assets/images/conflicts/_backside_lvl1.jpg');
}

.conflict-card.backside.two {
  background-image: url('/assets/images/conflicts/_backside_lvl2.png');
}

.conflict-card.backside.clickable {
  transition: 0.7s;
  cursor:
    url('/assets/images/cursors/pointer.png') 6 6,
    pointer !important;
}

.conflict-card.backside.clickable:hover,
.conflict-card.backside.clickable.active {
  filter: drop-shadow(0px 0px 20px rgb(255, 170, 73)) brightness(1.15);
  transform: scale(1.2);
  z-index: 3;
}

.conflict-action-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 3;
}

@keyframes conflict-anim {
  0% {
    opacity: 0;
    filter: brightness(0) drop-shadow(0px 0px 10px rgb(255, 166, 166));
  }
  25% {
    opacity: 0;
    filter: brightness(0) drop-shadow(0px 0px 10px rgb(255, 166, 166));
  }
  50% {
    opacity: 0.1;
    filter: brightness(0) drop-shadow(0px 0px 10px rgb(255, 166, 166));
  }
  75% {
    opacity: 0.25;
    filter: brightness(0.66) drop-shadow(0px 0px 5px rgb(180, 41, 41));
  }
  100% {
    opacity: 1;
    filter: brightness(1) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.66));
  }
}
