<ng-container *ngIf="currentConflictSet && currentConflictSet.imagePath">
  <div
    class="conflict-card"
    [style.background-image]="'url(' + currentConflictSet.imagePath + ')'"
    [style.background-size]="currentConflictSet.imageSize + 'px'"
    [style.background-position-x]="currentCardCoordinates.x + 'px'"
    [style.background-position-y]="currentCardCoordinates.y + 'px'"
  ></div>
  <div
    class="conflict-card background"
    [style.background-image]="'url(' + currentConflictSet.imagePath + ')'"
    [style.background-size]="currentConflictSet.imageSize + 'px'"
  ></div>
</ng-container>
