.board {
  width: 2120px;
  min-width: 2120px;
  height: 2120px;
  background-image: url('/assets/images/dune\ board_background.png');
  position: relative;
  font-size: x-large;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sideboard-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

dune-turn-infos {
  display: contents;
}

.board .overlay {
  width: 100%;
  height: 100%;
  animation-name: conflict-anim;
  animation-timing-function: ease-in-out;
  animation-duration: 300s;
  animation-iteration-count: infinite;
}

@keyframes conflict-anim {
  0% {
    backdrop-filter: brightness(1);
  }
  35% {
    backdrop-filter: brightness(1);
  }
  40% {
    backdrop-filter: brightness(1.05);
  }
  45% {
    backdrop-filter: brightness(1);
  }
  60% {
    backdrop-filter: brightness(1);
  }
  80% {
    backdrop-filter: brightness(0.66);
  }
  100% {
    backdrop-filter: brightness(1);
  }
}
