<div
  [style]="'display:flex; padding-left: 32px; padding-top: 8px; gap: 8px; justify-content: center; min-width: 3550px'"
  *ngIf="mode && gameContent"
>
  <app-playerboard></app-playerboard>
  <div class="board">
    <ng-particles
      *ngIf="viewInitialized && mode === 'game'"
      [id]="'stars'"
      [options]="stars"
      [particlesInit]="initStars"
    ></ng-particles>
    <ng-particles
      *ngIf="viewInitialized && mode === 'game'"
      [id]="'ships'"
      [options]="ships"
      [particlesInit]="initShips"
    ></ng-particles>
    <ng-particles
      *ngIf="viewInitialized && mode === 'game'"
      [id]="'dust'"
      [options]="dust"
      [particlesInit]="initDust"
    ></ng-particles>
    <ng-particles
      *ngIf="viewInitialized && mode === 'game'"
      [id]="'sand'"
      [options]="sand"
      [particlesInit]="initSand"
    ></ng-particles>
    <ng-container *ngFor="let faction of gameContent.factions">
      <app-dune-faction [faction]="faction" [mode]="mode"></app-dune-faction>
    </ng-container>
    <ng-container *ngFor="let location of gameContent.locations">
      <app-dune-location [location]="location"></app-dune-location>
    </ng-container>
    <app-dune-combat [useDreadnoughts]="!!gameContent.ix"></app-dune-combat>
    <app-scoreboard [mode]="mode"></app-scoreboard>
    <app-techboard [ix]="gameContent.ix" [useTechTiles]="gameContent.useTechTiles"></app-techboard>
    <app-card-areas></app-card-areas>
    <dune-conflicts *ngIf="mode === 'game'"></dune-conflicts>
    <dune-intrigues *ngIf="mode === 'game' && gameManager.currentRound !== 0"></dune-intrigues>
    <dune-tech-tiles *ngIf="mode === 'game' && gameContent.useTechTiles"></dune-tech-tiles>
    <dune-always-buyable-cards></dune-always-buyable-cards>
    <dune-turn-infos *ngIf="mode === 'game' && gameManager.currentRound !== 0"></dune-turn-infos>
  </div>
  <dune-imperium-row *ngIf="mode === 'game'"></dune-imperium-row>
  <div class="sideboard-container">
    <dune-game-manual *ngIf="mode === 'game' && gameManager.currentRound === 0"></dune-game-manual>
    <dune-events *ngIf="mode === 'game' && eventsEnabled"></dune-events>
    <!-- <dune-minor-houses *ngIf="mode=== 'game'"></dune-minor-houses> -->
    <dune-leaders *ngIf="mode === 'game'"></dune-leaders>
    <dune-player-reward-choices *ngIf="mode === 'game'"></dune-player-reward-choices>
    <dune-ai-tile *ngIf="mode === 'game' && gameManager.currentRound !== 0"></dune-ai-tile>
    <dune-board-evaluation *ngIf="mode === 'board'"></dune-board-evaluation>
    <!-- <dune-homeworld-tile></dune-homeworld-tile> -->
  </div>

  <dune-player-hand *ngIf="mode === 'game'"></dune-player-hand>
</div>
<dune-particle-effects></dune-particle-effects>
