<div class="cards-configurator">
  <div class="cards-manager">
    <div class="action-bar">
      <div class="settings-container"></div>
      <button mat-mini-fab [color]="'accent'" (click)="onAddCardClicked()" matTooltip="Add Leader">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab [color]="'accent'" (click)="filePicker.click()" matTooltip="Import Leaders">
        <mat-icon>download</mat-icon>
      </button>
      <input #filePicker [hidden]="true" [type]="'file'" [accept]="'.json'" (change)="onImportCardsClicked(filePicker)" />
      <button mat-mini-fab [color]="'accent'" (click)="onExportCardsClicked()" matTooltip="Export Leaders">
        <mat-icon>upload</mat-icon>
      </button>
      <button mat-mini-fab [color]="'accent'" (click)="onToggleControlsClicked()">
        <mat-icon>hide_source</mat-icon>
      </button>
      <div class="settings-container">
        <mat-form-field>
          <mat-label>Card Export Border Size</mat-label>
          <input matInput type="number" [(ngModel)]="imagePadding" />
        </mat-form-field>
      </div>
    </div>
    <div class="cards-preview-container">
      <ng-container *ngFor="let leader of leaders">
        <div class="card-container">
          <div #cardimg [style]="'padding:' + imagePadding + 'px'">
            <dune-leader-card [leader]="leader"></dune-leader-card>
          </div>
          <div class="card-action-bar" *ngIf="showControls">
            <button mat-mini-fab [color]="'accent'" (click)="onEditCardClicked(leader)" matTooltip="Edit">
              <mat-icon>settings</mat-icon>
            </button>
            <button mat-mini-fab [color]="'accent'" (click)="onDeleteCardClicked(leader.name.en)" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab [color]="'accent'" (click)="onSaveCardClicked(cardimg, leader.name.en)" matTooltip="Save">
              <mat-icon>download</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
