.event-board {
  background: rgba(64, 50, 40, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fffcfa;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 5px;
}

dune-event-card {
  transition: 0.9s;
  animation-name: event-anim;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

dune-event-card:hover {
  filter: drop-shadow(0px 0px 20px rgb(255, 170, 73)) brightness(1.15);
  transform: scale(1.05);
}

.event-card-backside {
  width: 600px;
  height: 375px;
  border-radius: 8px;
  position: relative;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.66));
  color: #fffcfa;
  text-align: center;
  background-image: url('/assets/images/events/event-background.png');
  animation-name: event-anim;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

@keyframes event-anim {
  0% {
    opacity: 0;
    filter: brightness(0) drop-shadow(0px 0px 10px rgb(255, 218, 166));
  }
  33% {
    opacity: 0.1;
    filter: brightness(0) drop-shadow(0px 0px 10px rgb(255, 221, 166));
  }
  66% {
    opacity: 0.25;
    filter: brightness(0.66) drop-shadow(0px 0px 5px rgb(180, 122, 41));
  }
  100% {
    opacity: 1;
    filter: brightness(1) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.66));
  }
}
