.combat-animation {
    animation-name: combat-anim;
    animation-timing-function: ease-in-out;
    opacity: 0.0;
    position: fixed;
    z-index: 2;
}

.combat-particles {
}

.spice-animation {
    animation-name: combat-anim;
    animation-timing-function: ease-in-out;
    opacity: 0.0;
    position: fixed;
    z-index: 2;
}

.effect-title {
    position: fixed;
    font-size: 66px;
    width: 100%;
    text-align: center;
    left: 0;
    top: calc(50% - 33px);
    color: white;
    font-size: 128px;
    letter-spacing: 32px;
    user-select: none;
}

.effect-title.red {
    color: rgb(237, 80, 80);
}

.effect-title.gold {
    color: rgb(237, 172, 80);
}

@keyframes combat-anim {
    33%  {opacity: 0.85;}
  }