.intrigue-card {
  border-radius: 10px;
  height: 255px;
  width: 170px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #101010;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.66));
  box-sizing: border-box;
  line-height: initial;
}

.card-header {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 8px 8px 0px 0px;
  color: #f3f5de;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: medium;
}

.card-header.complot,
.card-header.combined {
  background-image: url(/assets/images/intrigues/heading_complot.png);
}

.card-header.combat {
  background-image: url(/assets/images/intrigues/heading_combat.png);
}

.card-content {
  background-size: cover;
  background-position: top;
  border-radius: 0px 0px 8px 8px;
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.card-content.complot {
  border-top: 1px solid #fabc57;
  background-image: url(/assets/images/intrigues/complot_background.png);
}

.card-content.combat {
  border-top: 1px solid #ff5959;
  background-image: url(/assets/images/intrigues/combat_background.png);
}

.card-content.complot.combined {
  border-radius: 0;
  background-image: url(/assets/images/intrigues/complot_background.png);
  background-size: 125%;
}

.card-content.combat.combined {
  border-top: 1px solid #101010;
  background-image: url(/assets/images/intrigues/combat_background.png);
  background-position: top;
  background-size: 125%;
}

.card-title {
  padding: 4px;
  font-size: large;
  text-align: center;
}
