
.house-card {
    height: 335px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 12px solid #101010;;
    border-radius: 6px;
    position: relative;
    background-color: #101010;
    color: #fffcfa;
    font-size: x-small;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.66));
}

.house-header {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(/assets/images/card-backgrounds/house-background.png);
    background-size: 392%;
    border-radius: 4px;
    gap: 10px;
    background-position-y: -8px;
}

.house-title {
    padding: 4px;
    font-size: large;
    text-align: center;
}

.house-friendship {
    position: absolute;
    bottom: 48px;
    padding: 16px;
    background: #00000080;
    width: calc(100% - 32px);
    text-align: center;
}

.house-friendship-container {
    display: flex;
    font-family: "Roboto", "Verdana";
    font-weight: initial;
    font-size: small;
    color: #e1e1e1;
    white-space: pre-wrap;
    height: 100px;
    padding: 6px;
    background-color: #00000096;
    border: 1px solid white;
    border-radius: 2px 2px 4px 4px;
    box-shadow: inset 0px 0px 20px #00000073;
    width: 195px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.house-alliance-container {
    display: flex;
    font-family: "Roboto", "Verdana";
    font-weight: initial;
    font-size: small;
    color: #e1e1e1;
    white-space: pre-wrap;
    height: 100px;
    padding: 6px;
    background-color: rgb(44 32 10 / 59%);
    border: 1px solid white;
    border-radius: 4px 4px 2px 2px;
    box-shadow: inset 0px 0px 20px #00000073;
    margin-bottom: 2px;
    width: 195px;
    position: absolute;
    left: 10px;
    bottom: 122px;
}

.card-effect {
    padding: 6px;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.card-effect-custom {
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.requirement {
    flex: 1 1;
    border-right: 1px solid #ffffff3e;
}

.price {
    width: 60px;
}

.house-friendship-description,
.house-alliance-description {
    width: 65px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", "Verdana";
    font-weight: initial;
    font-size: small;
    color: #e1e1e1;
    white-space: pre-wrap;
    text-align: center;
}

.house-aquire-costs-container {
    position: absolute;
    top: 0;
    right: 0;
    background: url(/assets/images/reward-markers/marker_conviction.png);
    width: 45px;
    height: 50px;
    background-size: 55px;
    background-position-y: bottom;
}

.house-aquire-costs {
    font-size: x-large;
    padding-top: 3px;
    padding-left: 19px;
}

.reward-container {
    position: relative;
    width: min-content;
}

.reward {
    height: 30px;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.5));
}

.reward-amount {
    position: absolute;
    top: 5px;
    right: 0px;
    width: 100%;
    color: white;
    font-size: large;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.75));
    text-align: center;
}