<div class="effect-arrays-container" [style.gap]="arraySeparationGap">
  @for (effects of effectArrays; track $index) {
  <div class="effects-container">
    @for (reward of effects; track $index) { @if (isTimingEffect(reward)) { @if (isRoundStartTiming(reward.type)) {
    <div [class]="'text heading ' + textColor" [style.fontSize]="fontSize" [style.marginBottom]="marginBottom">
      {{ t.translate('commongEffectTimingRoundStart') }}:
    </div>
    } @else if (isRevealTurnTiming(reward.type)) {
    <div [class]="'text heading ' + textColor" [style.fontSize]="fontSize" [style.marginBottom]="marginBottom">
      {{ t.translate('commongEffectTimingRevealTurn') }}:
    </div>
    } } @else if(isConditionalEffect(reward)) { @if (isInfluenceType(reward.type)) {
    <div class="condition-container">
      <img [style.maxWidth]="size" class="faction" [src]="getFactionTypePath(reward)" />
      <div [class]="'text ' + textColor" [style.fontSize]="fontSize" [style.marginBottom]="marginBottom">
        {{ reward.amount }} {{ t.translate('commonEffectConditionInfluence') }}:
      </div>
    </div>
    } @else if (isConnectionType(reward.type)) {
    <div class="condition-container">
      <img [style.maxWidth]="size" class="faction" [src]="getFactionTypePath(reward)" />
      <div [class]="'text ' + textColor" [style.fontSize]="fontSize" [style.marginBottom]="marginBottom">
        -{{ t.translate('commonEffectConditionConnection') }}:
      </div>
    </div>
    } } @else {
    <div class="reward-container" [style.height]="size">
      <img class="reward" [src]="getEffectTypePath(reward.type)" [style.height]="size" />
      <div class="reward-amount" *ngIf="reward.amount">
        <div [style.fontSize]="rewardAmountFontSize">
          {{ reward.amount }}
        </div>
      </div>
    </div>
    } }
  </div>
  }
</div>
