.effect-arrays-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  flex-wrap: wrap;
}

.effects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
}

.reward-container {
  position: relative;
  width: min-content;
  gap: 2px;
}

.reward {
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.8));
}

.reward-amount {
  position: absolute;
  top: 0;
  right: 0px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: large;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.8));
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.condition-container {
  display: flex;
  align-items: center;
  margin-right: 0.1rem;
}

.text {
  color: #101010;
  width: max-content;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.66));
}

.text.heading {
  font-weight: bold;
  width: 100%;
  text-align: center;
  letter-spacing: 0.5px;
}

.text.white {
  color: #e1e1e1;
}

.text.white-clear {
  color: #fff;
}

.faction {
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
  object-fit: scale-down;
}
