<div class="tech-tile">
  <div class="card-header font-medieval">
    <div
      *ngIf="card.faction"
      class="faction-type-icon"
      [style.background-image]="'url(' + getFactionTypePath(card.faction) + ')'"
    ></div>
    <span>
      {{ t.translateLS(card.name).toUpperCase() }}
    </span>
  </div>
  <div
    class="card-img"
    [style.background-image]="'url(' + card.imageUrl + ')'"
    [style.background-position]="card.imagePosition ?? 'center'"
  >
    <div
      class="card-agent-effect-container font-text"
      *ngIf="card.customEffect || (card.effects && card.effects.length > 0)"
    >
      <div class="card-agent-effect-custom" *ngIf="card.customEffect">
        <div
          *ngIf="!card.customEffect.fontSize || card.customEffect.fontSize == 'small'"
          class="card-reveal-effect-custom-text"
          [innerHTML]="t.translateLS(card.customEffect) | duneSymbols"
        ></div>
        <div
          *ngIf="card.customEffect.fontSize === 'medium'"
          class="card-reveal-effect-custom-text medium"
          [innerHTML]="t.translateLS(card.customEffect) | duneSymbols : '20px'"
        ></div>
      </div>
      <div class="card-agent-effect" *ngIf="card.effects">
        <ng-container *ngFor="let reward of card.effects">
          <div class="reward-container">
            <img class="reward" [src]="getRewardTypePath(reward.type)" />
            <ng-container *ngIf="reward.amount">
              <div class="reward-amount">
                {{ reward.amount }}
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="card-aquire-effect-container" *ngIf="card.buyEffects && card.buyEffects.length">
    <dune-reward-array *ngIf="card.buyEffects" [rewards]="card.buyEffects" [size]="'24px'"></dune-reward-array>
  </div>
  <div
    [class]="
      'card-aquire-costs-container font-text ' +
      (card.buyEffects && card.buyEffects.length > 0 ? 'highlighted ' : '') +
      (costModifier ? (costModifier > 0 ? ' negative ' : ' positive ') : '')
    "
    *ngIf="card.costs"
  >
    <div class="card-aquire-costs">{{ card.costs + costModifier }}</div>
  </div>
</div>
