/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Sci-Fi';
    src: url('assets/fonts/Arkitech Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Medieval';
    src: url('assets/fonts/Malatestian.ttf');
}

@font-face {
    font-family: 'Mixed';
    src: url('assets/fonts/Obelisk-MMXV.ttf');
}

body {
    font-family: "Medieval";
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
html, body { 
    // height: 100%; 
    background-color: #0c0d0e;
}

h2 {
    margin-top: 0;
    margin-bottom: 32px;
}

.mat-mdc-fab.mat-accent:not(:disabled), .mat-mdc-mini-fab.mat-accent:not(:disabled), .mat-mdc-raised-button.mat-accent:not(:disabled),
.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
    background-color: #e49944be !important;
}

.mdc-form-field, .mdc-form-field>label {
    color:white !important;
}