<div
  [class]="
    'action-field ' +
    (!disabled && activePlayerTurnState === 'agent-placement' && isAccessibleByPlayer ? 'highlighted ' : '') +
    (isBlocked ? 'blocked ' : '')
  "
>
  <div class="heading font-medieval" [style.background-color]="backgroundColor">
    <span class="title">{{ ts.translateLS(actionField.title).toUpperCase() }}</span>
    <div class="border-remover" [style.background-color]="backgroundColor"></div>
  </div>
  <div class="actionTypeIcon" [style.background-image]="'url(' + pathToActionType + ')'"></div>
  <div class="action-area" [style.background-color]="backgroundColor">
    <div
      class="agent-area"
      [style.background-image]="'url(' + actionField.pathToImage + ')'"
      (click)="onActionFieldClicked()"
    >
      <div class="costs-area font-text">
        <ng-container *ngIf="actionField.requiresInfluence">
          <div class="costs-container">
            <img class="costs faction" [src]="getFactionTypePath(actionField.requiresInfluence.type)" />
            <div *ngIf="actionField.requiresInfluence.amount" class="costs-amount faction">
              <span>{{ actionField.requiresInfluence.amount }}</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngFor="let costs of actionCosts">
          <ng-container *ngIf="!costs.amount">
            <img [class]="'costs ' + costs.modifier" [src]="getEffectTypePath(costs.type)" />
          </ng-container>
          <ng-container *ngIf="costs.amount">
            <div class="costs-container">
              <img [class]="'costs ' + costs.modifier" [src]="getEffectTypePath(costs.type)" />
              <div [class]="'costs-amount '">
                {{ costs.amount }}
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div
      class="reward-area font-text"
      [style.width]="actionField.customWidth"
      [style.max-width]="actionField.customWidth"
      [style.row-gap]="actionField.noRowGap ? '0px' : ''"
      [style.column-gap]="actionField.noColumnGap ? '0px' : ''"
      [style.backgroundImage]="backgroundGradient"
    >
      <ng-container *ngFor="let rewardType of actionRewards">
        <div
          [class]="'reward-container ' + rewardType.type"
          [style.max-height]="rewardType.iconHeight ? rewardType.iconHeight + 'px' : ''"
        >
          <img
            [class]="
              'reward ' +
              rewardType.type +
              ' ' +
              rewardType.modifier +
              (rewardType.type === 'spice-accumulation' ? ' pointer' : '')
            "
            [src]="getEffectTypePath(rewardType.type)"
            [style.height]="rewardType.iconHeight ? rewardType.iconHeight + 'px' : ''"
            [style.min-width]="rewardType.width ? rewardType.width + 'px' : ''"
            (click)="onRewardClicked(actionField.title.en, rewardType.type)"
            (contextmenu)="onRewardRightClicked(actionField.title.en, rewardType.type)"
          />
          <div *ngIf="rewardType.amount" class="reward-amount">
            <span>{{ rewardType.amount }}</span>
          </div>
        </div>
      </ng-container>
      <div class="conversions-container" *ngIf="actionField.conversionOptions">
        <div class="conversion-container" *ngFor="let conversion of actionField.conversionOptions">
          <ng-container *ngFor="let rewardType of conversion">
            <div
              [class]="'reward-container ' + rewardType.type"
              [style.max-height]="rewardType.iconHeight ? rewardType.iconHeight + 'px' : ''"
            >
              <img
                [class]="'reward '"
                [src]="getEffectTypePath(rewardType.type)"
                [style.height]="rewardType.iconHeight ? rewardType.iconHeight + 'px' : ''"
                [style.min-width]="rewardType.width ? rewardType.width + 'px' : ''"
                (click)="onRewardClicked(actionField.title.en, rewardType.type)"
                (contextmenu)="onRewardRightClicked(actionField.title.en, rewardType.type)"
              />
              <div *ngIf="rewardType.amount" class="reward-amount">
                <span>{{ rewardType.amount }}</span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="!disabled && boardSettings.mode === 'game' && playerOnField"
    [style.color]="playerOnField.color"
    class="player-marker"
    (contextmenu)="onPlayerMarkerRightClicked(playerOnField.id, actionField.title.en)"
  >
    <dune-marker [type]="'ornithopter'"></dune-marker>
  </div>
  <ng-container *ngFor="let player of additionalPlayersOnField; let i = index; trackBy: trackPlayersOnField">
    <div class="player-marker small" [style.color]="player.color" [style.top]="40 + i * 35 + 'px'">
      <dune-marker [type]="'ornithopter'"></dune-marker>
    </div>
  </ng-container>
  <div class="spice-accumulation-area" *ngIf="accumulatedSpice">
    <ng-container *ngFor="let spice of accumulatedSpice | numberToArray; trackBy: trackSpiceOnField">
      <div class="spice-accumulation-marker"></div>
    </ng-container>
  </div>
  <div class="high-council-indicator-area" *ngIf="isHighCouncilField">
    <ng-container *ngFor="let seatColor of highCouncilSeats">
      <div class="high-council-marker" [style.backgroundColor]="seatColor"></div>
    </ng-container>
  </div>
  <ng-container *ngIf="!disabled && canWriteFieldHistory">
    <button
      class="field-history-button"
      mat-fab
      [color]="'accent'"
      (click)="onFieldHistoryChangeClicked(1)"
      (contextmenu)="onFieldHistoryChangeClicked(-1)"
    >
      <mat-icon>menu_book</mat-icon>
      {{ fieldHistoryAmount }}
    </button>
  </ng-container>
</div>
