<div class="choices-board">
  <div class="reward-log-container">
    <div>Game Action Log</div>
    <br />
    @for (logEntry of playerActionLog; track $index) {
      <div #rewardLogs class="reward-log">
        @if (logEntry.type === 'field-visit') {
          Player {{ logEntry.playerId }} sent an agent to field {{ logEntry.fieldName }}.
        } @else if (logEntry.type === 'reward-gain') {
          Player {{ logEntry.playerId }} got: {{ logEntry.amount }}
          <img class="reward-small" [src]="logEntry.rewardType | effectTypePath" />
        } @else if (logEntry.type === 'reward-pay') {
          Player {{ logEntry.playerId }} paid: {{ logEntry.amount }}
          <img class="reward-small" [src]="logEntry.rewardType | effectTypePath" />
        } @else if (logEntry.type === 'card-buy') {
          Player {{ logEntry.playerId }} acquired card {{ logEntry.cardName }}.
        } @else if (logEntry.type === 'card-play') {
          Player {{ logEntry.playerId }} played card {{ logEntry.cardName }}.
        } @else if (logEntry.type === 'card-trash') {
          Player {{ logEntry.playerId }} trashed card {{ logEntry.cardName }}.
        } @else if (logEntry.type === 'card-discard') {
          Player {{ logEntry.playerId }} discarded card {{ logEntry.cardName }}.
        } @else if (logEntry.type === 'card-return-to-hand') {
          Player {{ logEntry.playerId }} returned card {{ logEntry.cardName }} to his hand.
        } @else if (logEntry.type === 'intrigue-play') {
          Player {{ logEntry.playerId }} played intrigue {{ logEntry.cardName }}.
        } @else if (logEntry.type === 'intrigue-trash') {
          Player {{ logEntry.playerId }} trashed intrigue {{ logEntry.cardName }}.
        } @else if (logEntry.type === 'intrigue-steal') {
          Player {{ logEntry.playerId }} stole an intrigue from player {{ logEntry.enemyPlayerId }}.
        } @else if (logEntry.type === 'victory-point-gain') {
          Player {{ logEntry.playerId }} received: <img class="reward-small" [src]="'victory-point' | effectTypePath" />
        } @else if (logEntry.type === 'tech-tile-buy') {
          Player {{ logEntry.playerId }} acquired tech tile {{ logEntry.techTileName }}.
        } @else if (logEntry.type === 'tech-tile-play') {
          Player {{ logEntry.playerId }} activated tech tile {{ logEntry.techTileName }}.
        } @else if (logEntry.type === 'tech-tile-trash') {
          Player {{ logEntry.playerId }} trashed tech tile {{ logEntry.techTileName }}.
        } @else if (logEntry.type === 'location-control-gain') {
          Player {{ logEntry.playerId }} gained location {{ logEntry.locationId }}.
        } @else if (logEntry.type === 'location-control-loss') {
          Player {{ logEntry.playerId }} lost location {{ logEntry.locationId }}.
        } @else if (logEntry.type === 'agent-lift') {
          Player {{ logEntry.playerId }} lifted agent from board space {{ logEntry.fieldName }}.
        } @else if (logEntry.type === 'troops-added-to-combat') {
          Player {{ logEntry.playerId }} added {{ logEntry.amount }} troops to combat.
        } @else if (logEntry.type === 'troops-retreated-from-combat') {
          Player {{ logEntry.playerId }} retreated {{ logEntry.amount }} troops from combat.
        } @else if (logEntry.type === 'dreadnoughts-added-to-combat') {
          Player {{ logEntry.playerId }} added {{ logEntry.amount }} dreadnoughts to combat.
        } @else if (logEntry.type === 'dreadnoughts-retreated-from-combat') {
          Player {{ logEntry.playerId }} retreated {{ logEntry.amount }} dreadnoughts from combat.
        } @else if (logEntry.type === 'combat-win') {
          Player {{ logEntry.playerId }} won the conflict!
        } @else if (logEntry.type === 'player-pick-faction-influence-up') {
          Player {{ logEntry.playerId }} increased faction influence for {{ logEntry.faction }}.
        } @else if (logEntry.type === 'player-pick-faction-influence-down') {
          Player {{ logEntry.playerId }} decreased faction influence for {{ logEntry.faction }}.
        } @else if (logEntry.type === 'player-gain-faction-alliance') {
          Player {{ logEntry.playerId }} gained alliance with {{ logEntry.faction }}.
        } @else if (logEntry.type === 'player-loss-faction-alliance') {
          Player {{ logEntry.playerId }} lost alliance with {{ logEntry.faction }}.
        }
      </div>
    }
  </div>
  <div class="download-icon" (click)="onDownloadLogClicked()"><mat-icon>download</mat-icon></div>
</div>
