<div class="leader-board" *ngIf="activeLeader">
  <div class="leader-viewer">
    <div class="control-button" (click)="setPreviousLeader()"><</div>
    <ng-container *ngIf="activeLeader.type === 'new'">
      <dune-leader-card [leader]="activeLeader"></dune-leader-card>
    </ng-container>
    <div
      *ngIf="activeLeader.type === 'old'"
      class="leader-card full-picture"
      [style.background-image]="'url(' + activeLeader.imageUrl + ')'"
    ></div>
    <div class="control-button" (click)="setNextLeader()">></div>
  </div>
  <div class="control-bar" *ngIf="currentPlayer">
    <div class="info-container vertical">
      <div>agents</div>
      <div class="resource-container">
        <div class="agent-marker" [style.background-color]="currentPlayer.color"></div>
        <div>{{ currentPlayerAvailableAgents?.agentAmount }}</div>
        <button
          mat-mini-fab
          [color]="'accent'"
          (click)="onRemovePlayerAgentClicked(currentPlayer.id)"
          [disabled]="gameManager.currentTurnState === 'combat'"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <button
          mat-mini-fab
          [color]="'accent'"
          (click)="onAddPlayerAgentClicked(currentPlayer.id)"
          [disabled]="gameManager.currentTurnState === 'combat'"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="info-container vertical">
      <div>tech agents</div>
      <div class="resource-container">
        <div class="tech-agent-marker" [style.background-color]="currentPlayer.color"></div>
        <div>{{ currentPlayer.techAgents }}</div>
        <button mat-mini-fab [color]="'accent'" (click)="onRemoveTechAgentClicked(currentPlayer.id)">
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-mini-fab [color]="'accent'" (click)="onAddTechAgentClicked(currentPlayer.id)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="info-container vertical">
      <div>focus tokens</div>
      <div class="resource-container">
        <div class="focus-marker"></div>
        <div>{{ currentPlayer.focusTokens }}</div>
        <button mat-mini-fab [color]="'accent'" (click)="onRemoveFocusTokenClicked(currentPlayer.id)">
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-mini-fab [color]="'accent'" (click)="onAddFocusTokenClicked(currentPlayer.id)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="info-container vertical">
      <div>vps</div>
      <div class="resource-container">
        <img class="resource" [src]="getRewardTypePath('victory-point')" />
        <div class="resource-amount">
          <span>{{ getPlayerScore('victoryPoints') }}</span>
        </div>
        <button mat-mini-fab [color]="'accent'" (click)="onRemovePlayerScoreClicked(currentPlayer.id, 'victoryPoints')">
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-mini-fab [color]="'accent'" (click)="onAddPlayerScoreClicked(currentPlayer.id, 'victoryPoints')">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="info-container vertical">
      <div>units</div>
      <div class="units-control-bar">
        <div class="troop-marker" [style.background-color]="currentPlayer.color"></div>
        <div>{{ currentPlayerCombatUnits?.troopsInGarrison }}</div>
        <button mat-mini-fab [color]="'accent'" (click)="onRemoveTroopFromGarrisonClicked(currentPlayer.id)">
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-mini-fab [color]="'accent'" (click)="onAddTroopToGarrisonClicked(currentPlayer.id)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="units-control-bar">
        <div class="ship-marker" [style.background-color]="currentPlayer.color"></div>
        <div>{{ currentPlayerCombatUnits?.shipsInGarrison }}</div>
        <button mat-mini-fab [color]="'accent'" (click)="onRemoveShipFromGarrisonClicked(currentPlayer.id)">
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-mini-fab [color]="'accent'" (click)="onAddShipToGarrisonClicked(currentPlayer.id)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="info-container vertical">
      <div>resources</div>
      <div class="resource-container" *ngFor="let resource of currentPlayer.resources">
        <div class="resource-display">
          <img class="resource" [src]="getRewardTypePath(resource.type)" />
          <div class="resource-amount on-background">
            <span>{{ resource.amount }}</span>
          </div>
        </div>
        <button
          mat-mini-fab
          [color]="'accent'"
          (click)="onRemoveResourceClicked(currentPlayer.id, resource.type)"
          [disabled]="resource.amount === 0"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-mini-fab [color]="'accent'" (click)="onAddResourceClicked(currentPlayer.id, resource.type)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="resource-container">
        <div class="resource-display">
          <img class="resource intrigue" [src]="getRewardTypePath('intrigue')" />
          <div class="resource-amount on-background">
            <span>{{ currentPlayer.intrigueCount }}</span>
          </div>
        </div>
        <button
          mat-mini-fab
          [color]="'accent'"
          (click)="onRemoveIntrigueClicked(currentPlayer.id)"
          [disabled]="currentPlayer.intrigueCount === 0"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-mini-fab [color]="'accent'" (click)="onAddIntrigueClicked(currentPlayer.id)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="info-container vertical">
      <div>factions</div>
      <div class="resource-container">
        <img class="resource" [src]="getFactionTypePath('fremen')" />
        <div class="resource-amount">
          <span>{{ getPlayerScore('fremen') }}</span>
        </div>
        <button mat-mini-fab [color]="'accent'" (click)="onRemovePlayerScoreClicked(currentPlayer.id, 'fremen')">
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-mini-fab [color]="'accent'" (click)="onAddPlayerScoreClicked(currentPlayer.id, 'fremen')">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="resource-container">
        <img class="resource" [src]="getFactionTypePath('bene')" />
        <div class="resource-amount">
          <span>{{ getPlayerScore('bene') }}</span>
        </div>
        <button mat-mini-fab [color]="'accent'" (click)="onRemovePlayerScoreClicked(currentPlayer.id, 'bene')">
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-mini-fab [color]="'accent'" (click)="onAddPlayerScoreClicked(currentPlayer.id, 'bene')">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="resource-container">
        <img class="resource" [src]="getFactionTypePath('guild')" />
        <div class="resource-amount">
          <span>{{ getPlayerScore('guild') }}</span>
        </div>
        <button mat-mini-fab [color]="'accent'" (click)="onRemovePlayerScoreClicked(currentPlayer.id, 'guild')">
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-mini-fab [color]="'accent'" (click)="onAddPlayerScoreClicked(currentPlayer.id, 'guild')">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="resource-container">
        <img class="resource" [src]="getFactionTypePath('emperor')" />
        <div class="resource-amount">
          <span>{{ getPlayerScore('emperor') }}</span>
        </div>
        <button mat-mini-fab [color]="'accent'" (click)="onRemovePlayerScoreClicked(currentPlayer.id, 'emperor')">
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-mini-fab [color]="'accent'" (click)="onAddPlayerScoreClicked(currentPlayer.id, 'emperor')">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="control-bar">
    <ng-container *ngFor="let house of houses">
      <div class="house-card-container">
        <dune-minor-house-card [house]="house"></dune-minor-house-card>
        <button class="house-level-up-button" mat-mini-fab [color]="'accent'" (click)="onHouseLevelUpClicked(house.name.en)">
          <mat-icon>expand_less</mat-icon>
        </button>
        <button
          class="house-level-down-button"
          mat-mini-fab
          [color]="'accent'"
          (click)="onHouseLevelDownClicked(house.name.en)"
        >
          <mat-icon>expand_more</mat-icon>
        </button>
        <div
          class="house-marker"
          *ngIf="getPlayerHouseLevel(house.name.en) === 2"
          [style.background-color]="currentPlayer?.color"
          [style.bottom]="'174px'"
        ></div>
        <div
          class="house-marker"
          *ngIf="getPlayerHouseLevel(house.name.en) === 1"
          [style.background-color]="currentPlayer?.color"
          [style.bottom]="'56px'"
        ></div>
      </div>
    </ng-container>
  </div>
</div>
