.leader-board {
    background: #544132;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    gap: 32px;
    justify-content: center;
    align-items: center;
    color: #fffcfa;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 5px;
}

.leader-viewer {
    height:415px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.leader-list {
    background: #544132;
    display: grid;
    grid-gap: 16px;
    grid-area: 3 3;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
}

dune-leader-card {
    animation-name: leader-glow-anim;
    animation-timing-function: ease-in-out;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.leader-card.full-picture {
    width: 600px;
    height: 410px;
    position: relative;
    background-size: cover;
    border: none;
    border-radius: 20px;
    background-color: black;
    background-position: center;
    animation-name: leader-glow-anim-old;
    animation-timing-function: ease-in-out;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.control-button {
    height: 160px;
    width: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #00000075;
    transition:0.3s;
    z-index: 1;
}

.control-button:hover {
    background: #2c2c2c73;
}



.control-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
}

.control-bar.center {
    justify-content: center;
}

.info-container {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.info-container.vertical {
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
}

.agents-icon-container {
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 1));
}

.agents-icon {
    height: 40px;
    width: 25px;
    mask-image: url(/assets/images/reward-markers/marker_agent.png);
    mask-size: contain;
    mask-mode: luminance;
    background-color: #bebebe;
}

.tech-agent-marker {
    width: 20px;
    height: 20px;
    border-radius: 25%;
    border: 3px solid rgb(155 129 43);
    filter: drop-shadow(0px 0px 5px black);
    left: calc(50% - 13px);
    animation-name: unit-marker-anim;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

.focus-marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    filter: drop-shadow(0px 0px 5px white);
    left: calc(50% - 13px);
    animation-name: unit-marker-anim;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

.units-control-bar {
    display:flex;
    align-items: center;
    gap: 4px;
}

.troop-marker {
    width: 25px;
    height: 25px;
    border-radius: 25%;
    border: 1px solid #2f2112;
    border-right: 4px solid #2f2112;
    border-top: 3px solid #2f2112;
    filter: drop-shadow(0px 0px 5px black);
    left: calc(50% - 13px);
}

.ship-marker {
    width: 25px;
    height: 25px;
    border-radius: 25%;
    border: 1px solid #2f2112;
    border-right: 4px solid #2f2112;
    border-top: 3px solid #2f2112;
    filter: drop-shadow(0px 0px 5px black);
    left: calc(50% - 13px);
    transform: rotateX(45deg) rotateZ(45deg);
}


.resource-container {
    display:flex;
    align-items: center;
    gap: 6px;
}

.resource-display {
    max-height: 55px;
    position: relative;
    color: white;
}

.resource {
    height: 55px;
    width: 55px;
    object-fit: scale-down;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.5));
}

.resource.intrigue {
    filter: brightness(0.5);
}

.resource-amount {
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 1));
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.resource-amount.on-background {
    position: absolute;
    top: -2px;
    left: 0;
}

.house-card-container {
    position: relative;
}

.house-level-up-button {
    position: absolute;
    bottom: calc(50% + 26px);
    right: -14px;
}

.house-level-down-button {
    position: absolute;
    bottom: calc(50% - 26px);
    right: -14px;
}

.house-marker {
    position: absolute;
    bottom: 0px;
    right: 44px;
    width: 30px;
    height: 30px;
    border-radius: 25%;
    border: 1px solid #2f2112;
    border-right: 4px solid #2f2112;
    border-top: 3px solid #2f2112;
    filter: drop-shadow(0px 0px 5px black);
    box-sizing: border-box;
    animation-name: unit-marker-anim;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

.tech-tile-container {
    position: relative;
}


.tech-tile {
    border-radius: 10px;
    height: 160px;
    width: 245px;
    background-size: cover;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.66));
    border: 0px solid #2d2405;
    border-right: 3px solid #2d2405;
    border-top: 2px solid #2d2405;
    transition: 0.3s;
}

.tech-tile:hover {
    box-shadow: inset 0px 0px 25px -3px rgb(255, 123, 0);
}

.tech-flip-button {
    position: absolute;
    top: 25px;
    right: -20px;
}

.tech-trash-button {
    position: absolute;
    top: 85px;
    right: -20px;
}

@keyframes unit-marker-anim {
    0%  {filter:  drop-shadow(0px 0px 5px black) brightness(1.0)}
    20%  {filter:  drop-shadow(0px 0px 5px black) brightness(1.75)}
    100%  {filter: drop-shadow(0px 0px 5px black) brightness(1.0)}
  }

@keyframes leader-glow-anim {
    0%  {filter: drop-shadow(0px 0px 6px rgb(255, 123, 0));}
    12%  {filter: drop-shadow(0px 0px 12px rgb(255, 123, 0));}
    25%  {filter: drop-shadow(0px 0px 4px rgb(255, 123, 0));}
    37%  {filter: drop-shadow(0px 0px 12px rgb(255, 123, 0));}
    50%  {filter: drop-shadow(0px 0px 6px rgb(255, 123, 0));}
    62%  {filter: drop-shadow(0px 0px 12px rgb(255, 123, 0));}
    75%  {filter: drop-shadow(0px 0px 4px rgb(255, 123, 0));}
    87%  {filter: drop-shadow(0px 0px 12px rgb(255, 123, 0));}
    90%  {filter: drop-shadow(0px 0px 6px rgb(255, 123, 0));}
    92%  {filter: drop-shadow(0px 0px 12px rgb(255, 193, 160));}
    100%  {filter: drop-shadow(0px 0px 6px rgb(255, 123, 0));}
}

@keyframes leader-glow-anim-old {
    0%  {box-shadow: 0px 0px 25px -3px rgb(255, 123, 0)}
    12%  {box-shadow: 0px 0px 35px -3px rgb(255, 123, 0)}
    25%  {box-shadow: 0px 0px 20px -3px rgb(255, 123, 0)}
    37%  {box-shadow: 0px 0px 35px -3px rgb(255, 123, 0)}
    50%  {box-shadow: 0px 0px 25px -3px rgb(255, 123, 0)}
    62%  {box-shadow: 0px 0px 35px -3px rgb(255, 123, 0)}
    75%  {box-shadow: 0px 0px 20px -3px rgb(255, 123, 0)}
    87%  {box-shadow: 0px 0px 35px -3px rgb(255, 123, 0)}
    90%  {box-shadow: 0px 0px 25px -3px rgb(255, 123, 0)}
    92%  {box-shadow: 0px 0px 40px -3px rgb(255, 195, 138)}
    100%  {box-shadow: 0px 0px 25px -3px rgb(255, 123, 0)}
}
