.leader-board {
    background: #534235;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    color: #fffcfa;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 5px;
}

.leader-list {
    background: #534235;
    display: grid;
    grid-gap: 16px;
    grid-area: 3 3;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 16px;
}

.leader-card {
    width: 500px;
    height: 375px;
    border: 16px solid #151515;;
    border-radius: 6px;
    position: relative;
    background-size: cover;
    color: #fffcfa;
    font-size: x-small;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.66));
}

.leader-title {
    padding: 6px 12px;
    font-size: large;
}

.leader-house {
    padding: 0px 42px;
    color: #e1e1e1;
}

.leader-passive {
    position: absolute;
    bottom: 48px;
    padding: 16px;
    background: #00000080;
    width: calc(100% - 32px);
    text-align: center;
}

.deck-indicator {
    position: absolute;
    top: calc(50% - 50px + 32px);
    left: -51px;
    width: 100px;
    text-align: center;
    transform: rotateZ(90deg);
    padding: 8px 16px;
    border-radius: 8px 8px 0px 0px;
    color: #c7c7c7;
    background-color: #272727;
    filter: drop-shadow(0px 0px 3px #0000003b);
}

.discard-indicator {
    position: absolute;
    top: calc(50% - 50px + 32px);
    right: -51px;
    width: 100px;
    text-align: center;
    transform: rotateZ(270deg);
    padding: 8px 16px;
    border-radius: 8px 8px 0px 0px;
    color: #c7c7c7;
    background-color: #272727;
    filter: drop-shadow(0px 0px 3px #0000003b);
}

.leader-passive-container {
    position: absolute;
    border-radius: 0px 6px 0px 0px;
    left: 0;
    bottom: 0;
    height: 80px;
    padding: 6px;
    width: 45%;
    background-color: #00000096;
}

.leader-signet-container {
    position: absolute;
    border-radius: 6px 0px 0px 0px;
    right: 0;
    bottom: 0;
    height: 80px;
    padding: 6px;
    width: 45%;
    background-color: rgb(44 32 10 / 59%);
}

.leader-passive-name,
.leader-signet-name {
    margin-bottom: 8px;
}

.leader-passive-description,
.leader-signet-description {
    font-family: "Roboto", "Verdana";
    font-weight: initial;
    font-size: small;
    color: #e1e1e1;
}

.control-button {
    height: 160px;
    width: 40px;
    vertical-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #00000075;
    transition:0.3s;
}

.control-button:hover {
    background: #2c2c2c73;
}

.leader-card.full-picture {
    border: none;
    border-radius: 20px;
    width: 532px;
    height: 372px;
    background-color: black;
    background-position: center;
}