.leader-board {
    background: #534235;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    gap: 32px;
    justify-content: center;
    align-items: center;
    color: #fffcfa;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 5px;
}

.leader-viewer {
    height:415px;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.leader-list {
    background: #534235;
    display: grid;
    grid-gap: 16px;
    grid-area: 3 3;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
}

.leader-card {
    width: 500px;
    height: 375px;
    border: 16px solid #151515;;
    border-radius: 6px;
    position: relative;
    background-size: cover;
    color: #fffcfa;
    font-size: x-small;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.66));
}

.leader-title {
    padding: 6px 12px;
    font-size: large;
}

.leader-house {
    padding: 0px 42px;
    color: #e1e1e1;
}

.leader-passive {
    position: absolute;
    bottom: 48px;
    padding: 16px;
    background: #00000080;
    width: calc(100% - 32px);
    text-align: center;
}

.deck-indicator {
    position: absolute;
    top: calc(50% - 50px + 32px);
    left: -51px;
    width: 100px;
    text-align: center;
    transform: rotateZ(90deg);
    padding: 8px 16px;
    border-radius: 8px 8px 0px 0px;
    color: #c7c7c7;
    background-color: #272727;
    filter: drop-shadow(0px 0px 3px #0000003b);
}

.discard-indicator {
    position: absolute;
    top: calc(50% - 50px + 32px);
    right: -51px;
    width: 100px;
    text-align: center;
    transform: rotateZ(270deg);
    padding: 8px 16px;
    border-radius: 8px 8px 0px 0px;
    color: #c7c7c7;
    background-color: #272727;
    filter: drop-shadow(0px 0px 3px #0000003b);
}

.leader-passive-container {
    position: absolute;
    border-radius: 0px 6px 0px 0px;
    left: 0;
    bottom: 0;
    height: 80px;
    padding: 6px;
    width: 45%;
    background-color: #00000096;
}

.leader-signet-container {
    position: absolute;
    border-radius: 6px 0px 0px 0px;
    right: 0;
    bottom: 0;
    height: 80px;
    padding: 6px;
    width: 45%;
    background-color: rgb(44 32 10 / 59%);
}

.leader-passive-name,
.leader-signet-name {
    margin-bottom: 8px;
}

.leader-passive-description,
.leader-signet-description {
    font-family: "Roboto", "Verdana";
    font-weight: initial;
    font-size: small;
    color: #e1e1e1;
    white-space: pre-wrap;
}

.control-button {
    height: 160px;
    width: 40px;
    vertical-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #00000075;
    transition:0.3s;
}

.control-button:hover {
    background: #2c2c2c73;
}

.leader-card.full-picture {
    border: none;
    border-radius: 20px;
    width: 532px;
    height: 372px;
    background-color: black;
    background-position: center;
}

.control-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
}

.info-container {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.info-container.vertical {
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
}

.agent-marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #2f2112;
    filter: drop-shadow(0px 0px 5px black);
    left: calc(50% - 13px);
    animation-name: unit-marker-anim;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

.tech-agent-marker {
    width: 20px;
    height: 20px;
    border-radius: 25%;
    border: 3px solid rgb(155 129 43);
    filter: drop-shadow(0px 0px 5px black);
    left: calc(50% - 13px);
    animation-name: unit-marker-anim;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

.focus-marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    filter: drop-shadow(0px 0px 5px white);
    left: calc(50% - 13px);
    animation-name: unit-marker-anim;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

.units-control-bar {
    display:flex;
    align-items: center;
    gap: 4px;
}

.troop-marker {
    width: 25px;
    height: 25px;
    border-radius: 25%;
    border: 3px solid #2f2112;
    filter: drop-shadow(0px 0px 5px black);
    left: calc(50% - 13px);
}

.ship-marker {
    width: 25px;
    height: 25px;
    border-radius: 25%;
    border: 3px solid #2f2112;
    filter: drop-shadow(0px 0px 5px black);
    left: calc(50% - 13px);
    transform: rotateX(45deg) rotateZ(45deg);
}


.resource-container {
    display:flex;
    align-items: center;
    gap: 6px;
}

.resource-display {
    max-height: 55px;
    position: relative;
    color: white;
}

.resource {
    height: 55px;
    width: 55px;
    object-fit: scale-down;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.5));
}

.resource.intrigue {
    filter: brightness(0.5);
}

.resource-amount {
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 1));
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.resource-amount.on-background {
    position: absolute;
    top: -2px;
    left: 0;
}

.house-card-container {
    position: relative;
}

.house-level-up-button {
    position: absolute;
    bottom: calc(50% + 26px);
    right: -14px;
}

.house-level-down-button {
    position: absolute;
    bottom: calc(50% - 26px);
    right: -14px;
}

.house-marker {
    position: absolute;
    bottom: 0px;
    right: 44px;
    width: 30px;
    height: 30px;
    border-radius: 25%;
    border: 3px solid #2f2112;
    filter: drop-shadow(0px 0px 5px black);
    box-sizing: border-box;
    animation-name: unit-marker-anim;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

@keyframes unit-marker-anim {
    0%  {filter:  drop-shadow(0px 0px 5px black) brightness(1.0)}
    20%  {filter:  drop-shadow(0px 0px 5px black) brightness(1.75)}
    100%  {filter: drop-shadow(0px 0px 5px black) brightness(1.0)}
  }