.house-board {
  background: rgba(64, 50, 40, 0.8);
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  gap: 32px;
  justify-content: center;
  align-items: center;
  color: #fffcfa;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 5px;
}

.house-viewer {
  height: 415px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.available-houses {
  width: 900px;
  display: flex;
  justify-content: space-between;
  background: rgba(64, 50, 40, 0.8);
  padding: 16px;
  box-sizing: border-box;
  gap: 16px;
  flex-wrap: wrap;
}
.house-list {
  background: rgba(64, 50, 40, 0.8);
  display: grid;
  grid-gap: 16px;
  grid-area: 3 3;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 16px;
}

.house-card-container {
  // height: 400px;
  position: relative;
}

.house-buy-button {
  position: absolute;
  bottom: -20px;
  left: calc(50% - 28px);
}
