<div class="cards-configurator">
  <div class="cards-manager">
    <div class="action-bar">
      <button mat-mini-fab [color]="'accent'" (click)="onAddCardClicked()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab [color]="'accent'" (click)="filePicker.click()">
        <mat-icon>download</mat-icon>
      </button>
      <input #filePicker [hidden]="true" [type]="'file'" [accept]="'.json'" (change)="onImportCardsClicked(filePicker)" />
      <button mat-mini-fab [color]="'accent'" (click)="onExportCardsClicked()">
        <mat-icon>upload</mat-icon>
      </button>
      <button mat-mini-fab [color]="'accent'" (click)="onToggleControlsClicked()">
        <mat-icon>hide_source</mat-icon>
      </button>
    </div>
    <div class="cards-preview-container">
      <ng-container *ngFor="let card of imperiumCards">
        <div class="card-container">
          <div #cardimg>
            <dune-imperium-row-card [card]="card"></dune-imperium-row-card>
          </div>
          <div class="card-action-bar" *ngIf="showControls">
            <button mat-mini-fab [color]="'accent'" (click)="onEditCardClicked(card)">
              <mat-icon>settings</mat-icon>
            </button>
            <button mat-mini-fab [color]="'accent'" (click)="onDeleteCardClicked(card.name.en)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab [color]="'accent'" (click)="onSaveCardClicked(cardimg, card.name.en)">
              <mat-icon>download</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
