<div class="cards-configurator">
  <div class="cards-manager">
    <div class="action-bar">
      <div class="settings-container"></div>
      <button mat-mini-fab [color]="'accent'" (click)="onAddCardClicked()" matTooltip="Add Card">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab [color]="'accent'" (click)="onRemoveCardsClicked()" matTooltip="Remove All Cards">
        <mat-icon>block</mat-icon>
      </button>
      <button mat-mini-fab [color]="'accent'" (click)="filePicker.click()" matTooltip="Import Cards">
        <mat-icon>folder_open</mat-icon>
      </button>
      <input #filePicker [hidden]="true" [type]="'file'" [accept]="'.json'" (change)="onImportCardsClicked(filePicker)" />
      <button mat-mini-fab [color]="'accent'" (click)="onExportCardsClicked()" matTooltip="Export Cards">
        <mat-icon>download</mat-icon>
      </button>
      <button mat-mini-fab [color]="'accent'" (click)="onToggleControlsClicked()">
        <mat-icon>hide_source</mat-icon>
      </button>
      <div class="settings-container">
        <mat-form-field>
          <mat-label>Card Export Border Size</mat-label>
          <input matInput type="number" [(ngModel)]="imagePadding" />
        </mat-form-field>
      </div>
    </div>
    <div class="action-bar">
      <div>Total cards: {{ totalCardAmount }}</div>
      <div>Unique cards: {{ uniqueCardAmount }}</div>
    </div>
    <div class="action-bar" [style.gap]="'32px'">
      <div class="sortable-category" (click)="onSortByCostsClicked()">costs:</div>
      <div *ngFor="let item of costs | keyvalue">
        {{ item.key }} {{ item.value }} ({{ (item.value * 100) / totalCardAmount | number : '1.1-1' }}%)
      </div>
    </div>
    <div class="action-bar" [style.gap]="'32px'">
      <div class="sortable-category" (click)="onSortByFactionsClicked()">card-factions:</div>
      <div>no faction {{ noFactions }} ({{ (noFactions * 100) / totalCardAmount | number : '1.1-1' }}%)</div>
      <div *ngFor="let item of factions | keyvalue">
        {{ item.key }} {{ item.value }} ({{ (item.value * 100) / totalCardAmount | number : '1.1-1' }}%)
      </div>
    </div>
    <div class="action-bar center" [style.gap]="'32px'">
      <div>card-access:</div>
      <div class="icon-and-string-container" *ngFor="let item of fieldAccessess | keyvalue">
        <img class="field-access-image" [src]="getActionTypePath(item.key)" /> {{ item.value }} ({{
          (item.value * 100) / totalCardAmount | number : '1.1-1'
        }}%)
      </div>
    </div>
    <div class="action-bar center" [style.gap]="'32px'">
      <div>reveal-resources:</div>
      <div class="icon-and-string-container" *ngFor="let item of revealResources">
        <dune-reward-array
          [rewards]="[{ type: item.resourceType, amount: item.amount }]"
          [size]="'16px'"
          [textColor]="'white'"
        ></dune-reward-array>
        {{ item.count }} ({{ (item.count * 100) / totalCardAmount | number : '1.1-1' }}%)
      </div>
    </div>
    <div class="cards-preview-container">
      @for (card of imperiumCards; track $index) {
      <div class="card-container">
        <div #cardimg [style]="'padding:' + imagePadding + 'px'">
          <dune-imperium-row-card [card]="card"></dune-imperium-row-card>
        </div>
        <div class="card-action-bar" *ngIf="showControls">
          <button mat-mini-fab [color]="'accent'" (click)="onEditCardClicked(card)" matTooltip="Edit">
            <mat-icon>settings</mat-icon>
          </button>
          <button mat-mini-fab [color]="'accent'" (click)="onDeleteCardClicked(card.name.en)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-mini-fab [color]="'accent'" (click)="onSaveCardClicked(cardimg, card.name.en)" matTooltip="Save">
            <mat-icon>download</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</div>
